<div class="row">
    <!--FILTER-->
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="row wildpanel panel paneldefault">
            <div class="wildpanelbody panel paneldefault">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Recherche par nom de famille :</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="queryName">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <h5>Compétences :</h5>
                    <div class="form-group">
                        <select class="form-control" type="button" ng-model="querySkill">
                            <option value="">Tous</option>
                            <option ng-repeat="skill in skills" value="{{skill._id}}">{{skill.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Ecole :</h5>
                    <div class="form-group">
                        <select type="text" class="form-control" id="school" ng-model="school">
                            <option value="">Tous</option>
                            <option value="{{school._id}}" ng-repeat="school in schools">{{school.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Promo :</h5>
                    <div class="form-group">
                        <select type="text" class="form-control" id="promo" ng-model="promo" ng-disabled="school == '' ">
                            <option value="">Tous</option>
                            <!--<option ng-repeat="promo in promos" value="{{promo._id}}">{{shortDate(promo.startDate)}} - {{shortDate(promo.endDate)}}</option>-->
                            <option ng-repeat="promo in promos | filter:promosFilter" value="{{promo._id}}">{{shortDate(promo.startDate)}} - {{shortDate(promo.endDate)}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Disponibilté :</h5>
                    <div class="form-group">
                        <select type="text" class="form-control" ng-model="status">
                            <option value="">Tous</option>
                            <option>En recherche active</option>
                            <option>En recherche de stage</option>
                            <option>Ouvert aux opportunités</option>
                            <option>Indisponible</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Situation professionnelle :</h5>
                    <div class="form-group">
                        <select type="text" class="form-control" ng-model="situation">
                            <option value="">Tous</option>
                            <option>En poste</option>
                            <option>En fin de contrat</option>
                            <option>En recherche d'emploi</option>
                            <option>Freelance</option>
                            <option>Consultant</option>
                            <option>Entrepreneur</option>
                            <option>Porteur de projet</option>
                            <option>Etudiant</option>
                            <option>En fin d'études</option>
                            <option>Stagiaire</option>
                            <option>Apprenti</option>
                            <option>En alternance</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Région :</h5>
                    <div class="form-group">
                        <select type="text" class="form-control" ng-model="region">
                            <option value="">Tous</option>
                            <option>Alsace-Champagne-Ardenne-Lorraine</option>
                            <option>Aquitaine-Limousin-Poitou-Charentes</option>
                            <option>Auvergne-Rhône-Alpes</option>
                            <option>Bourgogne-Franche-Comté</option>
                            <option>Bretagne</option>
                            <option>Centre-Val de Loire</option>
                            <option>Corse</option>
                            <option>Île-de-France</option>
                            <option>Languedoc-Roussillon-Midi-Pyrénées</option>
                            <option>Nord-Pas-De-Calais-Picardie</option>
                            <option>Normandie</option>
                            <option>Pays-De-la-Loire</option>
                            <option>Provence-Alpes-Côte-d'Azur</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right input-group">
                    <button class=" btn btn-default btnW " ng-click="studentFiltered() " type="button ">OK</button>
                </div>
            </div>
            <div class="wildpanelfooter panel panel-default ">
                <a ng-click="resetFilter() ">Réinitialiser les filtres</a>
            </div>
        </div>
    </div>

    <!--STUDENTS-->
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 ">
        <!--RESULTS INFO-->
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
            <h3 class="no-marge ">Résultat de la recherche :</h3>
        </div>
        <!--STUDENT-->
        <div class="col-xs-12 ">
            <div ng-repeat="student in students | filter: {name: queryName} | orderBy: 'name' " class="wildpanel panel panel-default ">
                <div class="bookLike ">
                    <li ng-if="showRcrt " ng-click="likeClick(student) " class="headeradvert ">
                        <i class="fa fa-heart fa-lg " ng-class="{ 'heartnotactive': student.isLiked===false, 'heartactive': student.isLiked===true} " uib-tooltip="{{student.isLiked ? 'Retirer des favoris' : 'Ajouter aux favoris'}} " tooltip-placement="left "></i>
                    </li>
                </div>
                <div class="wildpanelbook panel panel-default ">
                    <img class="profilimg-book " src="../img/darkvador.jpg " alt="photo de profil de ... ">
                    <ul>
                        <li class="headeradvert " ng-click="goToStudent(student) ">
                            <h2 class="headeradvert studentname no-marge ">{{student.firstName}} {{student.name}}</h2>
                        </li>

                    </ul>
                    <h3 class="headeradvert no-marge studentteaser ">"{{student.teaser}} "</h3>
                    <ul>
                        <li class="headerasvert ">
                            <p class="no-marge ">{{student.status}}</p>
                        </li>
                    </ul>
                    <ul class="skill-ul ">
                        <li ng-repeat="skill in student.skills " class="headeradvert li-skill "><span class="wildSkill ">{{skill.skill.title}}</span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>