<h1 class="student-title">{{student.name}} {{student.firstName}}  <small>  "{{student.teaser}}"</small></h1>

<div class="row">
    <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">

        <!--TEASER -->
        <div class="wildpanel panel panel-default row">
            <div class="wildpanelheader panel panel-default"></div>
            <div class="wildpanelbody panel paneldefault" id="studentCVmin">
                <img class="imgprofilstudent" src="">
                <p>{{born}} ans</p>
                <p>{{student.gender}}</p>
            </div>
            <div class="wildpanelbody panel paneldefault" id="studentCVmin">
                <p class="headeradvert smalltexadvert">{{student.city}} - {{student.region}}</p>
                <h5>Contact</h5>
                <ul>
                    <li class="li-block" ng-if="student.email != undefined"><i class="fa fa-paper-plane-o fa-lg"></i>{{student.email}}</li>
                    <li class="li-block" ng-show="phoneIf"><i class="fa fa-phone fa-lg"></i>{{student.phone}}</li>
                </ul>
                <h5>Réseaux sociaux</h5>
                <div class="text-center">
                    <a ng-if="student.linkedin != undefined" href="{{student.linkedin}}"><i class="fa fa-linkedin fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Linkedin"></i></a>
                    <a ng-if="student.github != undefined" href="{{student.github}}"><i class="fa fa-github fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Github"></i></a>
                    <a ng-if="student.twitter != undefined" href="{{student.twitter}}"><i class="fa fa-twitter fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
                    <a ng-if="student.instagram != undefined" href="{{student.instagram}}"><i class="fa fa-instagram fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Instagram"></i></a>
                    <a ng-if="student.facebook != undefined" href="{{student.facebook}}"><i class="fa fa-facebook-official fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
                    <a ng-if="student.website != undefined" href="{{student.website}}"><i class="fa fa-desktop fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Website"></i></a></div>
            </div>
            <div class="wildpanelbody panel paneldefault"></div>
            <div class="wildpanelfooter panel panel-default">
                <a ng-show="ifStudent" class="text-right" href="/#/editBook/{{user._id}}">Modifier</a>
            </div>
        </div>

        <!--SITUATION-->
        <div class="wildpanel panel panel-default row">
            <div class="wildpanelbody panel paneldefault">
                <h5>Situation professionelle :</h5>
                <p>{{student.situation}}</p>
                <h5>Disponibilité :</h5>
                <p>{{student.status}}</p>
                <h5>Mobilité :</h5>
                <p>{{student.mobility}}</p>
            </div>
            <div class="wildpanelfooter panel panel-default">
                <a ng-show="ifStudent" class="text-right">Modifier</a>
            </div>
        </div>

        <!--WILD SIDE-->
        <div class="wildpanel panel panel-default row">
            <div class="wildpanelheader panel panel-default">
                <h4>Son coté wild</h4>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <p>{{student.wildSide}}</p>
            </div>
            <div class="wildpanelfooter panel panel-default">
                <a ng-show="ifStudent" class="text-right" href="/#/editBook/{{user._id}}">Modifier</a>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">

        <!--EXPERIENCES-->
        <div class="wildpanel panel panel-default row">
            <div class="wildpanelheader panel panel-default">
                <h4><i class="fa fa-briefcase i-header"></i> Expérience(s)</h4>
            </div>

            <!--EXPERIENCE-->
            <div class="no-marge">
                <div ng-repeat="exp in student.experiences | orderBy: '-experience.startDate'">

                    <!--Teaser-->
                    <div class="wildpanelbodys panel paneldefault">
                        <!--Btn Modal-->
                        <div class="plus">
                            <a data-toggle="modal" data-target="#{{exp.experience._id}}">En savoir plus</a>
                        </div>
                        <h2 class="titleadvert" data-toggle="modal" data-target="#{{exp.experience._id}}">{{exp.experience.job}}</h2>
                        <p class="smalltexadvert">{{exp.experience.company}} - {{exp.experience.contract}} - {{exp.experience.city}} ({{exp.experience.country}})</p>
                        <p class="smalltexadvert-sm">De {{calculDate(exp.experience.startDate)}} - A {{calculDate(exp.experience.endDate)}}</p>
                    </div>
                    <div class="wildpanelbody panel paneldefault">
                        <p class="white-space-pre-line">{{exp.experience.detailsExp}}</p>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="{{exp.experience._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h2 class="titlemodal" id="myModalLabel">{{exp.experience.job}}</h2>
                                    <p class="smalltexadvert">{{exp.experience.company}} - {{exp.experience.contract}} - {{exp.experience.city}} ({{exp.experience.country}})</p>
                                    <p class="smalltexadvert-sm">De {{calculDate(exp.experience.startDate)}} - A {{calculDate(exp.experience.endDate)}}</p>
                                </div>
                                <div class="modal-body">
                                    <h5>Missions :</h5>
                                    <p class="white-space-pre-line">{{exp.experience.missions}}</p>
                                </div>
                                <div class="modal-body">
                                    <h5>Détail sur l'experience :</h5>

                                    <p class="white-space-pre-line">{{exp.experience.detailsExp}}</p>
                                </div>
                                <div class="modal-body">
                                    <h5>Déscription de l'entreprise :</h5>
                                    <p class="white-space-pre-line">{{exp.experience.companyDescription}}</p>
                                </div>
                                <div class="modal-body">
                                    <a href="{{exp.experience.website}}">{{exp.experience.website}}</a>
                                </div>
                                <div class="modal-footer">
                                    <button ng-show="ifStudent" ng-click="goToEdit()" type="button" data-dismiss="modal" class="btnW">Editer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="wildpanelfooter panel panel-default">
                <a ng-show="ifStudent" href="/#/editBook/{{user._id}}">Ajouter ou modifier une expérience</a>
            </div>
        </div>

        <!--EDUCATIONS-->
        <div class=" wildpanel panel panel-default row">
            <div class="wildpanelheader panel panel-default">
                <h4><i class="fa fa-graduation-cap i-header"></i> Formation(s)</h4>
            </div>

            <!--EDUCATION-->
            <div class="no-marge">
                <div ng-repeat="for in student.formations | orderBy: '-formation.startDate'">

                    <!--Teaser-->
                    <div class="wildpanelbodys panel paneldefault">
                        <!--Btn Modal-->
                        <div class="plus">
                            <a data-toggle="modal" data-target="#{{for.formation._id}}">En savoir plus</a>
                        </div>
                        <h2 class="titleadvert" data-toggle="modal" data-target="#{{for.formation._id}}">{{for.formation.title}}</h2>
                        <p class="smalltexadvert">{{for.formation.school}} - {{for.formation.city}} ({{for.formation.country}})</p>
                        <p class="smalltexadvert-sm">De {{calculDate(for.formation.startDate)}} - A {{calculDate(for.formation.endDate)}}</p>
                    </div>
                    <div class="wildpanelbody panel paneldefault">
                        <p class="white-space-pre-line">{{for.formation.description}}
                            <p>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="{{for.formation._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h2 class="titlemodal" id="myModalLabel1">{{for.formation.title}}</h2>
                                    <p class="smalltexadvert">{{for.formation.school}} - {{for.formation.city}} ({{for.formation.country}})</p>
                                    <p class="smalltexadvert-sm">De {{calculDate(for.formation.startDate)}} - A {{calculDate(for.formation.endDate)}}</p>
                                </div>
                                <div class="modal-body">
                                    <h5>Descriptions de la formation :</h5>
                                    <p class="white-space-pre-line">{{for.formation.description}}</p>
                                </div>
                                <div class="modal-body">
                                    <h5>Diplôme</h5>
                                    <p class="white-space-pre-line">{{for.formation.graduate}}</p>
                                </div>
                                <div class="modal-body">
                                    <a href="{{exp.experience.website}}">{{for.formation.website}}</a>
                                </div>
                                <div class="modal-footer">
                                    <button ng-show="ifStudent" ng-click="goToEdit()" type="button" data-dismiss="modal" class="btnW">Editer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wildpanelfooter panel panel-default">
                <a ng-show="ifStudent" href="/#/editBook/{{user._id}}">Ajouter ou modifier une formation</a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <!--SKILLS-->
        <div class="wildpanel panel panel-default col-xs-12 col-sm-6 col-md-12 col-lg-12 no-padding">
            <div class="wildpanelheader panel panel-default">
                <h4><i class="fa fa-cubes i-header"></i> Compétence(s)</h4>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <ul class="skill-ul" ng-show="showSkill">
                    <li class="headeradvert skill-li" ng-repeat="skill in listSkills"><span class="wildSkill">{{skill}}<i class="fa fa-times cross times-skill" ng-if="ifStudent" ng-click="deleteSkill(skill)"></i></span></li>
                </ul>
            </div>
            <div class="wildpanelbody panel paneldefault text-center">
                <p class="bg-warning" ng-show="errorChoice">Vous avez déjà renseigné cette compétence</p>
                <p class="bg-danger" ng-show="errorTyping">Cette compétence n'existe pas</p>
            </div>
            <div class="wildpanelfooterinput panel paneldefault form-inline row">
                <div ng-show="ifStudent" class="inputwildpanelfooter input-group input-group-sm col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input ng-model="chooseSkill" placeholder="Ajoutez un tag de langage" class="form-control" list="Languages" />
                    <datalist id="Languages">
                        <option ng-repeat="offerSkill in offerSkills | filter:$viewValue | limitTo:8" value="{{offerSkill.title}}">
                    </datalist>
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-side" ng-click="add()" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!--LANGUAGES-->
        <div class="wildpanel panel panel-default col-xs-12 col-sm-6 col-md-12 col-lg-12 no-padding">
            <div class="wildpanelheader panel panel-default">
                <h4><i class="fa fa-language i-header"></i> Langue(s)</h4>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <ul>
                    <li class="li-block">
                        <p ng-repeat="language in student.languages"> • {{language.name}} <span class="levelName"><i>{{language.level}}</i></span></p>
                    </li>

                </ul>
            </div>
            <div class="wildpanelfooter panel panel-default">
                <a ng-show="ifStudent" href="/#/editBook/{{user._id}}">Ajouter ou modifier</a>
            </div>
        </div>

        <!--HOBBIES-->
        <div class="wildpanel panel panel-default col-xs-12 col-sm-6 col-md-12 col-lg-12 no-padding">
            <div class="wildpanelheader panel panel-default">
                <h4><i class="fa fa-futbol-o i-header"></i> Loisir(s)</h4>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <ul>
                    <li class="li-block">
                        <p ng-repeat="hobbie in student.hobbies"> • {{hobbie}}</p>
                    </li>

                </ul>
            </div>
            <div class="wildpanelfooter panel panel-default">
                <a ng-show="ifStudent" href="/#/editBook/{{user._id}}">Ajouter ou modifier</a>
            </div>
        </div>
    </div>
</div>