
<br>
<h2>Inscription</h2>
<br>



<div class="">

	<form class="form-horizontal">
       
        <!--<div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
              <label class="control-label">Ajouter un logo :</label>
               <input type="file" nv-file-select uploader="uploader" ng-model="" onchange="angular.element(this).scope().previewFile(this)">
                   <ul>
                       <li ng-repeat="">
                           name : <span ng-bind=""></span><br/>
                           <button ng-click="">upload</button>
                       </li>
                   </ul>
               <img id="preview" height="200" alt="Image preview...">
            </div>
        </div>-->
        
		<div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Nom de l'entreprise :</label>
		      <input type="text" class="form-control" id="" placeholder="" ng-model="companyName">
		    </div>
        
		    <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Taille de l'entreprise :</label>
                <select class="form-control" ng-model="companySize">
                 <option value="" disabled>En nombre de salariés</option>
        
		
		<div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Nom de l'entreprise :</label>
		      <input type="text" class="form-control" id="" placeholder="">
		  </div>
        
		    <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Taille de l'entreprise :</label>
                <select class="form-control">
                  <option type="text" class="form-control"></option>
                  <option type="text" class="form-control"></option>
                  <option type="text" class="form-control"></option>
                  <option type="text" class="form-control"></option>
                </select>
            </div>
		</div>
		
		<div class="form-group">

            <div class="col-sm-offset-1 col-sm-4">
                   <label class="control-label">Secteur d'activité :</label>
                    <select class="form-control" ng-model="businessSector">
                     
                      <option type="text" class="form-control">Agroalimentaire</option>
                      <option type="text" class="form-control">Banque / Assurance</option>
                      <option type="text" class="form-control">Bois / Papier / Carton / Imprimerie</option>
                      <option type="text" class="form-control">BTP / Matériaux de construction</option>
                      <option type="text" class="form-control">Chimie / Parachimie</option>
                      <option type="text" class="form-control">Commerce / Négoce / Distribution</option>
                      <option type="text" class="form-control">Édition / Communication / Multimédia</option>
                      <option type="text" class="form-control">Électronique / Électricité</option>
                      <option type="text" class="form-control">Études et conseils</option>
                      <option type="text" class="form-control">Industrie pharmaceutique</option>
                      <option type="text" class="form-control">Informatique / Télécoms</option>
                      <option type="text" class="form-control">Machines et équipements / Automobile</option>
                      <option type="text" class="form-control">Métallurgie / Travail du métal</option>
                      <option type="text" class="form-control">Plastique / Caoutchouc</option>
                      <option type="text" class="form-control">Services aux entreprises</option>
                      <option type="text" class="form-control">Textile / Habillement / Chaussure</option>
                      <option type="text" class="form-control">Transports / Logistique</option>
                    </select>
            </div>
		    <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Secteur d'activité :</label>
		    <input type="text" class="form-control" id="" placeholder="">
		  </div>
        </div>
		
		<div class="form-group">
            <div class="col-sm-offset-1 col-sm-9">
                <label>Description entreprise :</label>            
                <textarea class="form-control" rows="3" placeholder="décrivez votre entreprise en quelques lignes" ng-model="companyDescription"></textarea>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
		
        <div class="form-group">
		    <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Fonction :</label>
		    <input type="text" class="form-control" id="" placeholder="Poste occupé dans l'entreprise" ng-model="functionReferent">
		  </div>
        </div>
        
        <br>
         <h2>Coordonnées</h2>
        <br>
        
        <div class="form-group">
           <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Pays :</label>
                 <input type="text" class="form-control" placeholder="" ng-model="country">
           </div>
           <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Région :</label>
                 <input type="text" class="form-control" placeholder="" ng-model="region">
		    <input type="text" class="form-control" id="" placeholder="">
		  </div>
        </div>
        
        <div class="form-group">
           <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Pays :</label>
               <div class="input-group">
                 <input type="text" class="form-control" placeholder="" ng-model="offerSkill">
                 <span class="input-group-btn">
                   <button class="btn btn-default btn-side" type="button">OK</button>
                 </span>
               </div>
           </div>
           <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Région :</label>
               <div class="input-group">
                 <input type="text" class="form-control" placeholder="" ng-model="offerSkill">
                 <span class="input-group-btn">
                   <button class="btn btn-default btn-side" type="button">OK</button>
                 </span>
               </div>
           </div>        
       </div>
        
       <div class="form-group">
           <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Ville :</label>
                 <input type="text" class="form-control" name="city" id="city_form_affinage" placeholder="" />
           </div>
           <div id="map_canvas"></div>
           <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Adresse :</label>
                 <input type="text" class="form-control" placeholder="" ng-model="adress">
               <div class="input-group">
                 <input type="text" class="form-control" placeholder="" ng-model="offerSkill">
                 <span class="input-group-btn">
                   <button class="btn btn-default btn-side" type="button">OK</button>
                 </span>
               </div>
           </div>
           <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Adresse :</label>
               <div class="input-group">
                 <input type="text" class="form-control" placeholder="" ng-model="offerSkill">
                 <span class="input-group-btn">
                   <button class="btn btn-default btn-side" type="button">OK</button>
                 </span>
               </div>
           </div>        
       </div>
       
        <div class="form-group">
           <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Site internet :</label>
                 <input type="text" class="form-control" placeholder="Site internet de l'entreprise" ng-model="website">
               <div class="input-group">
                 <input type="text" class="form-control" placeholder="" ng-model="offerSkill">
                 <span class="input-group-btn">
                   <button class="btn btn-default btn-side" type="button">OK</button>
                 </span>
               </div>
           </div>
           <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Réseaux sociaux :</label>
               <div class="input-group">
                 <input type="text" class="form-control" placeholder="" ng-model="offerSkill">
                 <span class="input-group-btn">
                   <button class="btn btn-default btn-side" type="button">OK</button>
                 </span>
               </div>
           </div>        
       </div>     
		
		<div class="form-group">
		    <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Email :</label>
		    <input type="text" class="form-control" id="" placeholder=""ng-model="email">
		  </div>
		  <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Téléphone :</label>
		    <input type="text" class="form-control" id="" placeholder="" ng-model="phoneNumber">
		  </div>
		</div>
    <br>
        <h2>Ajouter des réseaux sociaux</h2>
    <br>
      
          <div class="form-group">
           <div class="col-sm-offset-1 col-sm-4">
                <i class="fa fa-facebook-official"></i>&nbsp;<label class="control-label">Facebook :</label>
                    <input type="text" class="form-control" placeholder="" ng-model="facebook">
                </div>
            <div class="col-sm-offset-1 col-sm-4">
                <i class="fa fa-twitter"></i>&nbsp;<label class="control-label">Twitter :</label>
                <input type="text" class="form-control" placeholder="" ng-model="Twitter">
            </div>
        </div>
        
        <div class="form-group">
           <div class="col-sm-offset-1 col-sm-4">
                <i class="fa fa-instagram"></i>&nbsp;<label class="control-label">Instagram :</label>
                <input type="text" class="form-control" placeholder="" ng-model="instagram">
            </div>
            <div class="col-sm-offset-1 col-sm-4">
                <i class="fa fa-linkedin"></i>&nbsp;<label class="control-label">Linkedin :</label>
                <input type="text" class="form-control" placeholder="" ng-model="linkedin">
            </div>
        </div>
    </form>
    
    <div class="form-group">
        <div class="col-sm-offset-5">
            <br><button type="submit" class="btnW" ng-click="send()"><strong>Valider l'inscription</strong></button>
		    <input type="text" class="form-control" id="" placeholder="">
		  </div>
		  <div class="col-sm-offset-1 col-sm-4">
               <label class="control-label">Téléphone :</label>
		    <input type="text" class="form-control" id="" placeholder="">
		  </div>
		</div>
    </form>
    
    <div class="form-group">
        <div class="col-sm-offset-4">
            <button type="submit" class="btnW"><strong>Valider l'inscription</strong></button>
        </div>
    </div>
    
</div>