<div class="row text-center">
    <h1>Bienvenue sur Wildfinder</h1>
    <h2>Créez votre compte entreprise en 3 étapes</h2>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-offset-3 col-sm-2 text-center"><i class="fa fa-circle-thin fa-2x"></i><i class="fa fa-circle fa-3x"></i>
        <p>étape 1</p>
    </div>
    <div class="col-xs-4 col-sm-2 text-center"><i class="fa fa-circle-thin fa-2x"></i><i class="fa fa-circle fa-3x"></i>
        <p>étape 2</p>
    </div>
    <div class="col-xs-4 col-sm-2 text-center"><i class="fa fa-circle-thin fa-2x"></i><i class="fa fa-circle fa-3x"></i>
        <p>étape 3</p>
    </div>
</div>
<div class="row">
    <h6>Les champs avec étoiles * sont requis.</h6></div>
<div class="row wildpanel panel panel-default">
    <div class="text-center">
        <h3>Vos Identifiants</h3>
    </div>
    <div class="form-group col-sm-offset-3 col-sm-6">
        <label class="control-label">Nom de l'entreprise* :</label>
        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
        <input type="text" class="form-control" id="" placeholder="" ng-model="recruiter.name">

        <label class="control-label">Email* :</label>
        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
        <input type="email" class="form-control" id="" placeholder="" ng-pattern="EMAIL_REGEXP" ng-model="recruiter.email">

        <label class="control-label">Mot de passe* :</label>
        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
        <input type="password" class="form-control" placeholder="" ng-model="recruiter.password">

        <label class="control-label">Confirmer le mot de passe* :</label>
        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
        <input type="password" class="form-control" placeholder="" ng-model="password2">
    </div>
</div>
<div class="row wildpanel panel panel-default">
    <div class="text-center">
        <h3>Vos coordonnées</h3>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-5">
            <label class="control-label">Pays* :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="" ng-model="recruiter.country">
        </div>
        <div class=" col-sm-5">
            <label class="control-label">Région* :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="" ng-model="recruiter.region">
        </div>

        <div class="col-sm-offset-1 col-sm-5">
            <label class="control-label">Ville* :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="" ng-model="recruiter.city" />
        </div>
        <div class="col-sm-5">
            <label class="control-label">Code postal* :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="" ng-model="recruiter.zipCode">
        </div>

        <div class="col-sm-offset-1 col-sm-10">
            <label class="control-label">Adresse* :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="" ng-model="recruiter.address" />
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <label class="control-label">Téléphone* :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" id="" placeholder="" ng-model="recruiter.phone">
        </div>
    </div>
</div>
<div class="row wildpanel panel panel-default">
    <div class="text-center">
        <h3>Votre visibilité</h3>
    </div>
    <div class="row wildpanelbody panel panel-default">
        <div class="col-sm-offset-1 col-sm-5">
            <label class="control-label">Taille de l'entreprise* :</label>
            <select class="form-control" ng-model="recruiter.size">
                <option value="" disabled>En nombre de salariés</option>
                <option type="text" class="form-control">de 1 a 9 salariés</option>
                <option type="text" class="form-control">de 10 a 49 salariés</option>
                <option type="text" class="form-control">de 50 a 499 salariés</option>
                <option type="text" class="form-control">de 500 a 999 salariés</option>
                <option type="text" class="form-control">plus de 1000 salariés</option>
            </select>
        </div>
        <div class="col-sm-5">
            <label class="control-label">Secteur d'activité* :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <select class="form-control" ng-model="businessSector">

                <option type="text" class="form-control">Agroalimentaire</option>
                <option type="text" class="form-control">Banque / Assurance</option>
                <option type="text" class="form-control">Bois / Papier / Carton / Imprimerie</option>
                <option type="text" class="form-control">BTP / Matériaux de construction</option>
                <option type="text" class="form-control">Chimie / Parachimie</option>
                <option type="text" class="form-control">Commerce / Négoce / Distribution</option>
                <option type="text" class="form-control">Édition / Communication / Multimédia</option>
                <option type="text" class="form-control">Électronique / Électricité</option>
                <option type="text" class="form-control">Enseignement</option>
                <option type="text" class="form-control">Études et conseils</option>
                <option type="text" class="form-control">Industrie pharmaceutique</option>
                <option type="text" class="form-control">Informatique / Télécoms</option>
                <option type="text" class="form-control">Machines et équipements / Automobile</option>
                <option type="text" class="form-control">Métallurgie / Travail du métal</option>
                <option type="text" class="form-control">Plastique / Caoutchouc</option>
                <option type="text" class="form-control">Services aux entreprises</option>
                <option type="text" class="form-control">Textile / Habillement / Chaussure</option>
                <option type="text" class="form-control">Transports / Logistique</option>
                <option type="text" class="form-control">Autres</option>
            </select>
        </div>
        <div class="col-sm-offset-1 col-sm-10">
            <label>Description entreprise* :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <textarea class="form-control" rows="3" placeholder="décrivez votre entreprise en quelques lignes" ng-model="recruiter.description"></textarea>
        </div>
        <div class="col-sm-offset-1 col-sm-4">
            <label class="control-label">Site internet :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="Site internet de l'entreprise" ng-model="user.website">
        </div>
    </div>
    <div class="row wildpanelbody panel panel-default">
        <div class="col-sm-offset-1 col-sm-5">
            <i class="fa fa-facebook-official"></i>&nbsp;
            <label class="control-label">Facebook :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="" ng-model="recruiter.facebook">
        </div>
        <div class="col-sm-5">
            <i class="fa fa-twitter"></i>&nbsp;
            <label class="control-label">Twitter :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="" ng-model="recruiter.twitter">
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <i class="fa fa-instagram"></i>&nbsp;
            <label class="control-label">Instagram :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="" ng-model="recruiter.instagram">
        </div>
        <div class="col-sm-5">
            <i class="fa fa-linkedin"></i>&nbsp;
            <label class="control-label">Linkedin :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input type="text" class="form-control" placeholder="" ng-model="recruiter.linkedin">
        </div>
    </div>
    <div class="row wildpanelbody panel panel-default">
        <div class="col-sm-offset-1 col-sm-5">
            <label class="control-label">Ajouter un logo :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input id="logo" type="file" nv-file-select uploader="uploader" ng-model="logo" onchange="angular.element(this).scope().previewFile(this)">
            <ul>
                <li ng-repeat="item in uploader.queue">
                    <span ng-bind="item.file.name"></span>
                    <br/>
                    <button ng-click="item.upload()">upload</button>
                </li>
            </ul>
            <img id="preview" height="200" alt="Image preview...">
        </div>
        <div class="col-sm-4">
            <label class="control-label">Ajouter une photo qui représente votre entreprise :</label>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
            <input id="picture" type="file" nv-file-select uploader="uploader2" ng-model="picture" onchange="angular.element(this).scope().previewFile2(this)">
            <ul>
                <li ng-repeat="item in uploader2.queue">
                    <span ng-bind="item.file.name"></span>
                    <br/>
                    <button ng-click="item.upload()">upload</button>
                </li>
            </ul>
            <img id="preview2" height="200" alt="Image preview2...">
        </div>
        <div class="row wildpanelbody panel panel-default">
            <div class="col-sm-8 text-right align">
                <label class="control-label" ng-show="incompleteError">Veuillez remplir tous les champs.</label>
            </div>
            <div class="col-sm-3 -sm-offset-2">
                <button class="btnW" type="submit" ng-click="send()"><strong>valider l'inscription</strong></button>
            </div>
        </div>
    </div>
</div>










<h2>Inscription</h2>
<h6>Les champs avec étoiles * sont requis.</h6>


<div class="">

    <form class="form-horizontal" name="myform">

        <!--UPLOAD PHOTO-->



        <div class="form-group">

        </div>

        <!--FORM INSCRIPTION RECRUITER-->

        <div class="form-group">

        </div>

        <div class="form-group">

        </div>

        <!--CONTACT RECRUITER-->




        <!--FORM LOGIN-->



        <!--SOCIAL NETWORK-->

        <div class="form-group spacer">
            <h4>Ajouter des réseaux sociaux :</h4>

        </div>
    </form>

    <!--BUTTON VALID-->



</div>