<div class="col-md-4 col-md-offset-4">
  <div class="bs-callout bs-callout-danger" ng-show="(loginMessage.title != '')">
  <h4>{{loginMessage.title}}</h4>
  <p>{{loginMessage.message}}</p>
  </div>
  <form name="formConnect">
    <div class="form-group">
      <label for="inputName">Identifiant</label>
      <input type="text" class="form-control" id="inputName" 
      placeholder="Your name" ng-model="user.name" ng-required="true">
    </div>
    <div class="form-group">
      <label for="inputName">Mot de passe</label>
      <input type="password" class="form-control" id="inputPass" 
      placeholder="Your password" ng-model="user.password" ng-required="true">
    </div>
    <button type="submit" class="btn-block btnW" 
    ng-disabled="formConnect.$invalid" ng-click="connect()"><strong>Se connecter</strong></button>
  </form>
</div>