<h2>Edition d'un profil élève</h2>

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

        <div class="row" id="anchor01">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h3>Photo du profil :</h3>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label><i class="fa fa-picture-o fa-form"></i> Ajouter un logo :</label>
                                <input id="logo" type="file" nv-file-select uploader="uploader" ng-model="student.logo" onchange="angular.element(this).scope().previewFile(this)">
                                <img id="preview" height="200" ng-src="{{student.logo}}" alt="Image preview...">
                                <button ng-click="deleteLogo()" class="btn btn-default btnW spacer">Supprimer ce logo</button>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="updateLogo()">mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="anchor0">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h3>Titre du profil :</h3>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label">Titre :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="student.teaser" maxlength="70">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update0()">mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="anchor1">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h2>Informations personnelles :</h2>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Prénom :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="student.firstName">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Nom :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="student.name">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Date de naissance :</label>
                                <input type="date" class="form-control" ng-model="student.birthDate">

                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Sexe :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="student.gender">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Email :</label>
                                <div>
                                    <input type="email" class="form-control" id="" ng-model="student.email">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Téléphone :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="student.phone">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Ville :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="student.city">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Région :</label>
                                <select class="form-control" ng-model="student.region">
                                    <option value="" disabled>Région</option>
                                    <option>Alsace-Champagne-Ardenne-Lorraine</option>
                                    <option>Aquitaine-Limousin-Poitou-Charentes</option>
                                    <option>Auvergne-Rhône-Alpes</option>
                                    <option>Bourgogne-Franche-Comté</option>
                                    <option>Bretagne</option>
                                    <option>Centre-Val de Loire</option>
                                    <option>Corse</option>
                                    <option>Île-de-France</option>
                                    <option>Languedoc-Roussillon-Midi-Pyrénées</option>
                                    <option>Nord-Pas-De-Calais-Picardie</option>
                                    <option>Normandie</option>
                                    <option>Pays-De-la-Loire</option>
                                    <option>Provence-Alpes-Côte-d'Azur</option>
                                    <option>Autre</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update1()">mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h3>Mot de passe :</h3>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Mot de passe actuel :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="user.actualPassword">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Nouveau mot de passe :</label>
                                <div>
                                    <input ng-model="user.newPassword" class="form-control" type="password" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Confirmer mot de passe :</label>
                                <div>
                                    <input ng-model="user.passwordConfirm" class="form-control" type="password" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update8()">mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="anchor2">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h2>Situation :</h2>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Situation professionelle:</label>
                                <select class="form-control" ng-model="student.situation">
                                    <option type="text" class="form-control" value="" disabled></option>
                                    <option type="text" class="form-control">En poste</option>
                                    <option type="text" class="form-control">En fin de contrat</option>
                                    <option type="text" class="form-control">En recherche d'emploi</option>
                                    <option type="text" class="form-control">Freelance</option>
                                    <option type="text" class="form-control">Consultant(e)</option>
                                    <option type="text" class="form-control">Entrepreneur(se)</option>
                                    <option type="text" class="form-control">Porteur(se) de projet</option>
                                    <option type="text" class="form-control">Etudiant(e)</option>
                                    <option type="text" class="form-control">En fin d'études</option>
                                    <option type="text" class="form-control">Stagiaire</option>
                                    <option type="text" class="form-control">Apprenti(e)</option>
                                    <option type="text" class="form-control">En alternance</option>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Disponibilité :</label>
                                <select class="form-control" ng-model="student.status">
                                    <option type="text" class="form-control" value="" disabled></option>
                                    <option type="text" class="form-control">En recherche active</option>
                                    <option type="text" class="form-control">En recherche de stage</option>
                                    <option type="text" class="form-control">Ouvert(e) aux opportunités</option>
                                    <option type="text" class="form-control">Indisponible</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Mobilité :</label>
                                <select class="form-control" ng-model="student.mobility">
                                    <option type="text" class="form-control" value="" disabled></option>
                                    <option type="text" class="form-control">Départementale</option>
                                    <option type="text" class="form-control">Régionale</option>
                                    <option type="text" class="form-control">Nationale</option>
                                    <option type="text" class="form-control">Internationale</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update2()">mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="anchor3">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h2>Coté wild</h2>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label>Mon coté wild</label>
                                <textarea class="form-control" rows="4" ng-model="student.wildSide"></textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update3()">mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="anchor4">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h2>Compétences</h2>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class=" col-sm-4">
                                <label class="control-label">Mes compétences* :</label>
                                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Ajoutez des compétences les unes à la suite des autres grâce au moteur de recherche."><i class="fa fa-question-circle"></i></a>
                                <div class="input-group">
                                    <input ng-model="chooseSkill" placeholder="Ajoutez un tag de langage, de compétence" class="form-control" list="Languages" />
                                    <datalist id="Languages">
                                        <option ng-repeat="studentSkill in studentSkills" value="{{studentSkill.title}}">
                                    </datalist>
                                    <span class="input-group-btn">
                    <button class="btn btn-default btn-side" ng-click="add()" type="button" >OK</button>
                  </span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <ul ng-show="showSkill">
                                    <li class="skill-li" ng-repeat="listSkill in listSkills"><span class="wildSkill clickable">{{ listSkill }}<i class="fa fa-times cross" ng-click="deleteSkill(listSkill)"></i></span></li>
                                </ul>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update4()">mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="anchor5">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h2>Expérience</h2>
                    <div class="wildpanelbody panel paneldefault">
                        <div ng-repeat="exp in student.experiences">
                            <h4>Modifier une expérience :</h4>
                            <fieldset class="form-group">
                                <div class="col-sm-10">
                                    <label class="control-label">Intitulé du poste :</label>
                                    <input type="text" name="title" class="form-control" id="" ng-model="exp.experience.job">
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label">Entreprise :</label>
                                    <div>
                                        <input type="text" class="form-control" id="" ng-model="exp.experience.company">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label class="control-label">Type de contrat :</label>
                                    <select class="form-control" ng-model="exp.experience.contract">
                                        <option type="text" class="form-control" value="" disabled>Choisissez un contrat...</option>
                                        <option type="text" class="form-control">Stage</option>
                                        <option type="text" class="formcontrol">Apprentissage</option>
                                        <option type="text" class="form-control">CDD</option>
                                        <option type="text" class="form-control">CDI</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label">Ville :</label>
                                    <div>
                                        <input type="text" class="form-control" id="" ng-model="exp.experience.city">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label class="control-label">Pays :</label>
                                    <div>
                                        <input type="text" class="form-control" id="" ng-model="exp.experience.country">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-3">
                                    <label class="control-label">Mois de début :</label>
                                    <select class="form-control" ng-model="exp.experience.monthStart">
                                        <option type="text" class="form-control" value="" disabled></option>
                                        <option type="text" class="form-control">Janvier</option>
                                        <option type="text" class="form-control">Fevrier</option>
                                        <option type="text" class="form-control">Mars</option>
                                        <option type="text" class="form-control">Avril</option>
                                        <option type="text" class="form-control">Mai</option>
                                        <option type="text" class="form-control">Juin</option>
                                        <option type="text" class="form-control">Juillet</option>
                                        <option type="text" class="form-control">Aout</option>
                                        <option type="text" class="form-control">Septembre</option>
                                        <option type="text" class="form-control">Octobre</option>
                                        <option type="text" class="form-control">Novembre</option>
                                        <option type="text" class="form-control">Décembre</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Année de début :</label>
                                    <select class="form-control" ng-model="exp.experience.yearStart">
                                        <option type="text" class="form-control" ng-repeat="year in years">{{year}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label">Mois de fin :</label>
                                    <select class="form-control" ng-model="exp.experience.monthEnd">
                                        <option type="text" class="form-control" value="" disabled></option>
                                        <option type="text" class="form-control">Janvier</option>
                                        <option type="text" class="form-control">Fevrier</option>
                                        <option type="text" class="form-control">Mars</option>
                                        <option type="text" class="form-control">Avril</option>
                                        <option type="text" class="form-control">Mai</option>
                                        <option type="text" class="form-control">Juin</option>
                                        <option type="text" class="form-control">Juillet</option>
                                        <option type="text" class="form-control">Aout</option>
                                        <option type="text" class="form-control">Septembre</option>
                                        <option type="text" class="form-control">Octobre</option>
                                        <option type="text" class="form-control">Novembre</option>
                                        <option type="text" class="form-control">Décembre</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Année de fin :</label>
                                    <select class="form-control" ng-model="exp.experience.yearEnd">
                                        <option type="text" class="form-control" ng-repeat="year in years">{{year}}</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-10">
                                    <label>Description de l'expérience</label>
                                    <textarea class="form-control" rows="6" ng-model="exp.experience.detailsExp" name="desc"></textarea>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-10">
                                    <label>Missions au sein de l'entreprise</label>
                                    <textarea class="form-control" rows="4" ng-model="exp.experience.missions" name="desc"></textarea>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-10">
                                    <label>Description de l'entreprise</label>
                                    <textarea class="form-control" rows="2" ng-model="exp.experience.companyDescription" name="desc"></textarea>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-offset-8 col-sm-3">
                                    <form>
                                        <button class="btnW" ng-click="update5(exp)">mettre a jour</button>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <div class="wildpanelbody panel paneldefault">
                        <h4>Ajouter une expérience</h4>
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label">Intitulé du poste :</label>
                                <input type="text" name="title" class="form-control" id="" ng-model="job">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Entreprise :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="company">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Type de contrat :</label>
                                <select class="form-control" ng-model="contract">
                                    <option type="text" class="form-control" value="" disabled>Choisissez un contrat...</option>
                                    <option type="text" class="form-control">Stage</option>
                                    <option type="text" class="formcontrol">Apprentissage</option>
                                    <option type="text" class="form-control">CDD</option>
                                    <option type="text" class="form-control">CDI</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Ville :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="city">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Pays :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="country">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label">Mois de début :</label>
                                <select class="form-control" ng-model="monthStart">
                                    <option type="text" class="form-control" value="" disabled></option>
                                    <option type="text" class="form-control">Janvier</option>
                                    <option type="text" class="form-control">Fevrier</option>
                                    <option type="text" class="form-control">Mars</option>
                                    <option type="text" class="form-control">Avril</option>
                                    <option type="text" class="form-control">Mai</option>
                                    <option type="text" class="form-control">Juin</option>
                                    <option type="text" class="form-control">Juillet</option>
                                    <option type="text" class="form-control">Aout</option>
                                    <option type="text" class="form-control">Septembre</option>
                                    <option type="text" class="form-control">Octobre</option>
                                    <option type="text" class="form-control">Novembre</option>
                                    <option type="text" class="form-control">Décembre</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Année de début :</label>
                                <select class="form-control" ng-model="yearStart">
                                    <option type="text" class="form-control" ng-repeat="year in years">{{year}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label">Mois de fin :</label>
                                <select class="form-control" ng-model="monthEnd">
                                    <option type="text" class="form-control" value="" disabled></option>
                                    <option type="text" class="form-control">Janvier</option>
                                    <option type="text" class="form-control">Fevrier</option>
                                    <option type="text" class="form-control">Mars</option>
                                    <option type="text" class="form-control">Avril</option>
                                    <option type="text" class="form-control">Mai</option>
                                    <option type="text" class="form-control">Juin</option>
                                    <option type="text" class="form-control">Juillet</option>
                                    <option type="text" class="form-control">Aout</option>
                                    <option type="text" class="form-control">Septembre</option>
                                    <option type="text" class="form-control">Octobre</option>
                                    <option type="text" class="form-control">Novembre</option>
                                    <option type="text" class="form-control">Décembre</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Année de fin :</label>
                                <select class="form-control" ng-model="yearEnd">
                                    <option type="text" class="form-control" ng-repeat="year in years">{{year}}</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label>Description de l'expérience</label>
                                <textarea class="form-control" rows="6" ng-model="detailsExp" name="desc"></textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label>Missions au sein de l'entreprise</label>
                                <textarea class="form-control" rows="4" ng-model="missions" name="desc"></textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label>Description de l'entreprise</label>
                                <textarea class="form-control" rows="2" ng-model="companyDescription" name="desc"></textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="createExperience()">Ajouter</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="anchor6">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h2>Formation(s)</h2>
                    <div class="wildpanelbody panel paneldefault">
                        <div ng-repeat="form in student.formations">
                            <h4>Modifier une formation</h4>
                            <fieldset class="form-group">
                                <div class="col-sm-10">
                                    <label class="control-label">Intitulé de la formation :</label>
                                    <input type="text" name="title" class="form-control" id="" ng-model="form.formation.title">
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label">Ecole :</label>
                                    <input type="text" name="title" class="form-control" id="" ng-model="form.formation.school">
                                </div>
                                <div class="col-sm-5">
                                    <label class="control-label">Diplôme :</label>
                                    <input type="text" name="title" class="form-control" id="" ng-model="form.formation.graduate">
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label">Ville :</label>
                                    <div>
                                        <input type="text" class="form-control" id="" ng-model="form.formation.city">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label class="control-label">Pays :</label>
                                    <div>
                                        <input type="text" class="form-control" id="" ng-model="form.formation.country">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-3">
                                    <label class="control-label">Mois de début :</label>
                                    <select class="form-control" ng-model="form.formation.monthStart">
                                        <option type="text" class="form-control" value="" disabled></option>
                                        <option type="text" class="form-control">Janvier</option>
                                        <option type="text" class="form-control">Fevrier</option>
                                        <option type="text" class="form-control">Mars</option>
                                        <option type="text" class="form-control">Avril</option>
                                        <option type="text" class="form-control">Mai</option>
                                        <option type="text" class="form-control">Juin</option>
                                        <option type="text" class="form-control">Juillet</option>
                                        <option type="text" class="form-control">Aout</option>
                                        <option type="text" class="form-control">Septembre</option>
                                        <option type="text" class="form-control">Octobre</option>
                                        <option type="text" class="form-control">Novembre</option>
                                        <option type="text" class="form-control">Décembre</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Année de début :</label>
                                    <select class="form-control" ng-model="form.formation.yearStart">
                                        <option type="text" class="form-control" ng-repeat="year in years">{{year}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label">Mois de fin :</label>
                                    <select class="form-control" ng-model="form.formation.monthEnd">
                                        <option type="text" class="form-control" value="" disabled></option>
                                        <option type="text" class="form-control">Janvier</option>
                                        <option type="text" class="form-control">Fevrier</option>
                                        <option type="text" class="form-control">Mars</option>
                                        <option type="text" class="form-control">Avril</option>
                                        <option type="text" class="form-control">Mai</option>
                                        <option type="text" class="form-control">Juin</option>
                                        <option type="text" class="form-control">Juillet</option>
                                        <option type="text" class="form-control">Aout</option>
                                        <option type="text" class="form-control">Septembre</option>
                                        <option type="text" class="form-control">Octobre</option>
                                        <option type="text" class="form-control">Novembre</option>
                                        <option type="text" class="form-control">Décembre</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Année de fin :</label>
                                    <select class="form-control" ng-model="form.formation.yearEnd">
                                        <option type="text" class="form-control" ng-repeat="year in years">{{year}}</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-10">
                                    <label>Description de la formation</label>
                                    <textarea class="form-control" rows="6" ng-model="form.formation.description" name="desc"></textarea>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-offset-8 col-sm-3">
                                    <form>
                                        <button class="btnW" ng-click="update6(form)">mettre a jour</button>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <div class="wildpanelbody panel paneldefault">
                        <h4>Ajouter une formation</h4>
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label">Intitulé de la formation :</label>
                                <input type="text" name="title" class="form-control" id="" ng-model="title">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Ecole :</label>
                                <input type="text" name="title" class="form-control" id="" ng-model="school">
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Diplôme :</label>
                                <input type="text" name="title" class="form-control" id="" ng-model="graduate">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Ville :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="city">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Pays :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="country">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label">Mois de début :</label>
                                <select class="form-control" ng-model="monthStart">
                                    <option type="text" class="form-control" value="" disabled></option>
                                    <option type="text" class="form-control">Janvier</option>
                                    <option type="text" class="form-control">Fevrier</option>
                                    <option type="text" class="form-control">Mars</option>
                                    <option type="text" class="form-control">Avril</option>
                                    <option type="text" class="form-control">Mai</option>
                                    <option type="text" class="form-control">Juin</option>
                                    <option type="text" class="form-control">Juillet</option>
                                    <option type="text" class="form-control">Aout</option>
                                    <option type="text" class="form-control">Septembre</option>
                                    <option type="text" class="form-control">Octobre</option>
                                    <option type="text" class="form-control">Novembre</option>
                                    <option type="text" class="form-control">Décembre</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Année de début :</label>
                                <select class="form-control" ng-model="yearStart">
                                    <option type="text" class="form-control" ng-repeat="year in years">{{year}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label">Mois de fin :</label>
                                <select class="form-control" ng-model="monthEnd">
                                    <option type="text" class="form-control" value="" disabled></option>
                                    <option type="text" class="form-control">Janvier</option>
                                    <option type="text" class="form-control">Fevrier</option>
                                    <option type="text" class="form-control">Mars</option>
                                    <option type="text" class="form-control">Avril</option>
                                    <option type="text" class="form-control">Mai</option>
                                    <option type="text" class="form-control">Juin</option>
                                    <option type="text" class="form-control">Juillet</option>
                                    <option type="text" class="form-control">Aout</option>
                                    <option type="text" class="form-control">Septembre</option>
                                    <option type="text" class="form-control">Octobre</option>
                                    <option type="text" class="form-control">Novembre</option>
                                    <option type="text" class="form-control">Décembre</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Année de fin :</label>
                                <select class="form-control" ng-model="yearEnd">
                                    <option type="text" class="form-control" ng-repeat="year in years">{{year}}</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label>Description de la formation</label>
                                <textarea class="form-control" rows="6" ng-model="description" name="desc"></textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="createFormation()">Ajouter</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="anchor7">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h2>Loisirs :</h2>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Modifier les loisirs :</label>
                                <ul>
                                    <li class="li-block" ng-repeat="hobbie in student.hobbies">
                                        <input type="text" class="form-control" id="" ng-model="hobbie" disabled><i ng-click="deleteHobbie(hobbie)" class="fa fa-trash fa-lg trash2"></i></li>
                                </ul>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Ajouter un loisirs :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="hobbiesQuery">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="createHobbies()">Ajouter</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="anchor8">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h2>Langues :</h2>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label">Modifier le niveau de langue :</label>
                                <ul>
                                    <li class="li-block" ng-repeat="language in student.languages">
                                        <input type="text" class="form-control" id="" ng-model="language.name" disabled><i ng-click="deleteLanguage(language)" class="fa fa-trash fa-lg trash2"></i>
                                        <select class="form-control" ng-model="language.level">
                                            <option type="text" class="form-control" value=""></option>
                                            <option type="text" class="form-control">Débutant</option>
                                            <option type="text" class="form-control">Intermédiaire</option>
                                            <option type="text" class="form-control">Expert</option>
                                            <option type="text" class="form-control">Langue maternelle</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update9()">Mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label">Ajouter une langue :</label>
                                <select class="form-control" ng-model="newLanguage.name">
                                    <option type="text" class="form-control" value="" disabled></option>
                                    <option type="text" class="form-control">Allemand</option>
                                    <option type="text" class="form-control">Anglais</option>
                                    <option type="text" class="form-control">Arabe</option>
                                    <option type="text" class="form-control">Basque</option>
                                    <option type="text" class="form-control">Bengali</option>
                                    <option type="text" class="form-control">Biélorusse</option>
                                    <option type="text" class="form-control">Coréen</option>
                                    <option type="text" class="form-control">Espagnol</option>
                                    <option type="text" class="form-control">Français</option>
                                    <option type="text" class="form-control">Grec</option>
                                    <option type="text" class="form-control">Hindi</option>
                                    <option type="text" class="form-control">Italien</option>
                                    <option type="text" class="form-control">Japonais</option>
                                    <option type="text" class="form-control">Mandarin</option>
                                    <option type="text" class="form-control">Polonais</option>
                                    <option type="text" class="form-control">Portugais</option>
                                    <option type="text" class="form-control">Russe</option>
                                    <option type="text" class="form-control">Autre</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label">Niveau :</label>
                                <select class="form-control" ng-model="newLanguage.level">
                                    <option type="text" class="form-control" value=""></option>
                                    <option type="text" class="form-control">Débutant</option>
                                    <option type="text" class="form-control">Intermédiaire</option>
                                    <option type="text" class="form-control">Expert</option>
                                    <option type="text" class="form-control">Langue maternelle</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="createLanguages()">Ajouter</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-3">
        <nav class="hidden-xs affix">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <div class="wildpanelbody panel paneldefault">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="{active: activesubmenu=='#anchor01'}"><a ng-click="scrollTo('anchor01')">Photo de profil</a></li>
                            <li ng-class="{active: activesubmenu=='#anchor0'}"><a ng-click="scrollTo('anchor0')">Titre du profil</a></li>
                            <li ng-class="{active: activesubmenu=='#anchor1'}"><a ng-click="scrollTo('anchor1')">Infos personnelles</a></li>
                            <li ng-class="{active: activesubmenu=='#anchor2'}"><a ng-click="scrollTo('anchor2')">Situation</a></li>
                            <li ng-class="{active: activesubmenu=='#anchor3'}"><a ng-click="scrollTo('anchor3')">Coté wild</a></li>
                            <li ng-class="{active: activesubmenu=='#anchor4'}"><a ng-click="scrollTo('anchor4')">Compétences</a></li>
                            <li ng-class="{active: activesubmenu=='#anchor5'}"><a ng-click="scrollTo('anchor5')">Expérience</a></li>
                            <li ng-class="{active: activesubmenu=='#anchor6'}"><a ng-click="scrollTo('anchor6')">Formation</a></li>
                            <li ng-class="{active: activesubmenu=='#anchor7'}"><a ng-click="scrollTo('anchor7')">Loisirs</a></li>
                            <li ng-class="{active: activesubmenu=='#anchor8'}"><a ng-click="scrollTo('anchor8')">Langues</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>