<h2>Edition d'une offre.</h2>

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

        <div class="row" id="anchor1">
            <div class="page-header">
                <h3>Informations personnelles :</h3>
            </div>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Nom :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="referentName">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Email :</label>
                    <div>
                        <input type="email" class="form-control" id="" ng-model="referentEmail">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Téléphone :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="referentPhone">
                    </div>
                </div>
            </fieldset>
        </div>
        <fieldset class="form-group">
            <div class="col-sm-offset-8 col-sm-3">
                <form>
                    <button class="btnW" ng-click="update1()">mettre a jour</button>
                </form>
            </div>
        </fieldset>


        <div class="row" id="anchor2">
            <div class="page-header">
                <h3>Coordonnées :</h3>
            </div>
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label">Pays :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="country">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">ville :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="city">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Code postal :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="zipCode">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-6">
                    <label class="control-label">Adresse :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="address">
                    </div>
                </div>
            </fieldset>
        </div>
        <fieldset class="form-group">
            <div class="col-sm-offset-8 col-sm-3">
                <form>
                    <button class="btnW" ng-click="update2()">mettre a jour</button>
                </form>
            </div>
        </fieldset>


        <div class="row" id="anchor3">
            <div class="page-header">
                <h3>Détails de l'offre :</h3>
            </div>
            <fieldset class="form-group">
                <div class="col-sm-10">
                    <label class="control-label">Titre de l'offre :</label>
                    <input type="text" name="title" class="form-control" id="" ng-model="title">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label">Type de contrat :</label>
                    <select class="form-control" ng-model="contract">
                        <option type="text" class="form-control" value="" disabled>Choisissez un contrat...</option>
                        <option type="text" class="form-control">Stage</option>
                        <option type="text" class="form-control">Apprentissage</option>
                        <option type="text" class="form-control">CDD</option>
                        <option type="text" class="form-control">CDI</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Expérience :</label>
                    <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Junior: 0 - 2 ans. &#13; Expérimenté: 3 - 5 ans.&#13; Sénior: Plus de 6 ans."><i class="fa fa-question-circle"></i></a>
                    <select class="form-control" ng-model="experience">
                        <option type="text" class="form-control" value="" disabled>...et un niveau d'expérience</option>
                        <option type="text" class="form-control">Junior</option>
                        <option type="text" class="form-control">Expérimenté</option>
                        <option type="text" class="form-control">Sénior</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Salaire :</label>
                    <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Salaire en millier d'euros par année. Ex: 30 K€/an." data-placement="top"><i class="fa fa-question-circle"></i></a>

                    <input type="text" name="salary" class="form-control" id="" ng-pattern="salaryRegex" ng-model="salary">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-8 col-sm-3">
                    <form>
                        <button class="btnW" ng-click="update3()">mettre a jour</button>
                    </form>
                </div>
            </fieldset>
        </div>


        <div class="row" id="anchor4">
            <div class="page-header">
                <h3>Compétences :</h3>
            </div>
            <fieldset class="form-group">
                <div class=" col-sm-4">
                    <label class="control-label">Compétences recherchées* :</label>
                    <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Ajoutez des compétences les unes à la suite des autres grâce au moteur de recherche."><i class="fa fa-question-circle"></i></a>
                    <div class="input-group">
                        <input ng-model="chooseSkill" placeholder="Ajoutez un tag de langage, de compétence" class="form-control" list="Languages" />
                        <datalist id="Languages">
                            <option ng-repeat="offerSkill in offerSkills" value="{{offerSkill.title}}">
                        </datalist>
                        <span class="input-group-btn">
                    <button class="btn btn-default btn-side" ng-click="add()" type="button" >OK</button>
                  </span>
                    </div>
                </div>
                <!-- $MSG D'ERREURS DES COMPETENCES -->
                <fieldset class="col-sm-5">
                    <div>
                        <label class="wildWarning control-label" ng-show="errorChoice">Vous avez déjà choisi cette compétence !</label>
                        <label class="wildWarning control-label" ng-show="errorTyping">Cette compétence n'éxiste pas !</label>
                    </div>
                </fieldset>
            </fieldset>
            <!-- $AFFICHAGE DES TAGS COMPETENCES -->
            <fieldset class="form-group">
                <fieldset class="col-sm-7">
                    <div class="form-group">
                        <ul ng-show="showSkill">
                            <li class="skill-li" ng-repeat="listSkill in listSkills"><span class="wildSkill clickable">{{ listSkill }}<i class="fa fa-times cross times-skill" ng-click="deleteSkill(listSkill)"></i></span></li>
                        </ul>
                    </div>
                </fieldset>
            </fieldset>

            <fieldset class="form-group">
                <div class="col-sm-offset-8  col-sm-3">
                    <form>
                        <button class="btnW" ng-click="update4()">mettre a jour</button>
                    </form>
                </div>
            </fieldset>
        </div>

        <div class="row" id="anchor5">
            <div class="page-header">
                <h3>Descriptions :</h3>
            </div>
            <fieldset class="form-group">
                <div class="col-sm-10">
                    <label>Description du poste :</label>
                    <textarea class="form-control" rows="6" ng-model="description" name="desc"></textarea>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-10">
                    <label>Responsabilités du candidat :</label>
                    <textarea class="form-control" rows="4" ng-model="responsability"></textarea>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-8 col-sm-3">
                    <form>
                        <button class="btnW" ng-click="update5()">mettre a jour</button>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-3">
        <nav class="hidden-xs affix">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: activesubmenu=='#anchor1'}"><a ng-click="scrollTo('anchor1')">Infos personnelles</a></li>
                <li ng-class="{active: activesubmenu=='#anchor2'}"><a ng-click="scrollTo('anchor2')">Coordonnées</a></li>
                <li ng-class="{active: activesubmenu=='#anchor3'}"><a ng-click="scrollTo('anchor3')">Détails de l'offre</a></li>
                <li ng-class="{active: activesubmenu=='#anchor4'}"><a ng-click="scrollTo('anchor4')">Compétences</a></li>
                <li ng-class="{active: activesubmenu=='#anchor5'}"><a ng-click="scrollTo('anchor5')">Descriptions</a></li>
            </ul>
        </nav>
    </div>
</div>