<h2>Edition de votre profil recruteur.</h2>

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

        <div class="row" id="anchor1">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h3>Informations concernant l'entreprise :</h3>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label"><i class="fa fa-user fa-form"></i> Nom de l'entreprise :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="recruiter.name">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label"><i class="fa fa-at fa-form"></i> Email :</label>
                                <div>
                                    <input type="email" class="form-control" id="" ng-model="recruiter.email">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label"><i class="fa fa-phone fa-form"></i> Téléphone :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="recruiter.phone">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update1()">Mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="anchor2">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h3>Coordonnées :</h3>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label"><i class="fa fa-globe fa-form"></i> Pays :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="recruiter.country">
                                </div>
                            </div>
                            <div class="col-sm-offset-1 col-sm-4">
                                <label class="control-label"><i class="fa fa-map-o fa-form"></i>Région :</label>
                                <div class="input-group input-group-sm">
                                    <select type="text" class="form-control" ng-model="recruiter.region">
                                        <option value="" disabled>Choisssez une région</option>
                                        <option>Alsace-Champagne-Ardenne-Lorraine</option>
                                        <option>Aquitaine-Limousin-Poitou-Charentes</option>
                                        <option>Auvergne-Rhône-Alpes</option>
                                        <option>Bourgogne-Franche-Comté</option>
                                        <option>Bretagne</option>
                                        <option>Centre-Val de Loire</option>
                                        <option>Corse</option>
                                        <option>Île-de-France</option>
                                        <option>Languedoc-Roussillon-Midi-Pyrénées</option>
                                        <option>Nord-Pas-De-Calais-Picardie</option>
                                        <option>Normandie</option>
                                        <option>Pays-De-la-Loire</option>
                                        <option>Provence-Alpes-Côte-d'Azur</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label"><i class="fa fa-map-o fa-form"></i> Ville :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="recruiter.city">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label"><i class="fa fa-map-o fa-form"></i> Code postal :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="recruiter.zipCode">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label"><i class="fa fa-map-marker fa-form"></i> Adresse :</label>
                                <div>
                                    <input type="text" class="form-control" id="" ng-model="recruiter.address">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update2()">Mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="anchor3">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h3>Votre visibilité :</h3>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label"><i class="fa fa-building-o fa-form"></i> Taille de l'entreprise :</label>
                                <select class="form-control" ng-model="recruiter.size">
                                    <option type="text" class="form-control" value="" disabled>Taille en nombre de salariés...</option>
                                    <option type="text" class="form-control">de 1 a 9 salariés</option>
                                    <option type="text" class="form-control">de 10 a 49 salariés</option>
                                    <option type="text" class="form-control">de 50 a 499 salariés</option>
                                    <option type="text" class="form-control">de 500 a 999 salariés</option>
                                    <option type="text" class="form-control">plus de 1000 salariés</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label"><i class="fa fa fa-bar-chart fa-form"></i> Secteur d'activité :</label>
                                <select class="form-control" ng-model="recruiter.businessSector">
                                    <option type="text" class="form-control" value="" disable>Secteur d'activité...</option>
                                    <option type="text" class="form-control">Agroalimentaire</option>
                                    <option type="text" class="form-control">Banque / Assurance</option>
                                    <option type="text" class="form-control">Bois / Papier / Carton / Imprimerie</option>
                                    <option type="text" class="form-control">BTP / Matériaux de construction</option>
                                    <option type="text" class="form-control">Chimie / Parachimie</option>
                                    <option type="text" class="form-control">Commerce / Négoce / Distribution</option>
                                    <option type="text" class="form-control">Édition / Communication / Multimédia</option>
                                    <option type="text" class="form-control">Électronique / Électricité</option>
                                    <option type="text" class="form-control">Enseignement</option>
                                    <option type="text" class="form-control">Études et conseils</option>
                                    <option type="text" class="form-control">Industrie pharmaceutique</option>
                                    <option type="text" class="form-control">Informatique / Télécoms</option>
                                    <option type="text" class="form-control">Machines et équipements / Automobile</option>
                                    <option type="text" class="form-control">Métallurgie / Travail du métal</option>
                                    <option type="text" class="form-control">Plastique / Caoutchouc</option>
                                    <option type="text" class="form-control">Services aux entreprises</option>
                                    <option type="text" class="form-control">Textile / Habillement / Chaussure</option>
                                    <option type="text" class="form-control">Transports / Logistique</option>
                                    <option type="text" class="form-control">Autres</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update3()">Mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="anchor4">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault">
                    <h3>Descriptions :</h3>
                    <div class="wildpanelbody panel paneldefault">
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label><i class="fa fa-copyright fa-form"></i>Description plus précise de l'entreprise :</label>
                                <textarea class="form-control" rows="6" ng-model="recruiter.description" name="desc"></textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-10">
                                <label><i class="fa fa-paw"></i>Quel est le côté Wild de votre entreprise ?</label>
                                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Donnez envie à votre futur candidat de travailler chez vous !"><i class="fa fa-question-circle"></i></a>
                                <textarea class="form-control" rows="4" ng-model="recruiter.wildSide"></textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col-sm-offset-8 col-sm-3">
                                <form>
                                    <button class="btnW" ng-click="update4()">Mettre a jour</button>
                                </form>
                            </div>
                        </fieldset>

                        <div class="row" id="anchor5">
                            <div class="page-header">
                                <h3>Logo et photo :</h3>
                            </div>
                            <fieldset class="form-group">
                                <div class="col-sm-5">
                                    <label><i class="fa fa-picture-o fa-form"></i> Ajouter un logo :</label>
                                    <input id="logo" type="file" nv-file-select uploader="uploader" ng-model="recruiter.logo" onchange="angular.element(this).scope().previewFile(this)">
                                    <img id="preview" height="200" ng-src="{{recruiter.logo}}" alt="Image preview...">
                                    <button ng-click="deleteLogo()" class="btn btn-default btnW spacer">Supprimer ce logo</button>
                                </div>
                                <div class="col-sm-5">
                                    <label><i class="fa fa-picture-o fa-form"></i> Ajouter une photo qui représente votre entreprise :</label>
                                    <input id="picture" type="file" nv-file-select uploader="uploader2" ng-model="recruiter.picture" onchange="angular.element(this).scope().previewFile2(this)">
                                    <img id="preview2" height="200" ng-src="{{recruiter.picture}}" alt="Image preview2...">
                                    <button ng-click="deletePicture()" class="btn btn-default btnW spacer">Supprimer cette image</button>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-offset-8 col-sm-3">
                                    <form>
                                        <button class="btnW" ng-click="update5()">Mettre a jour</button>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" id="anchor6">
                <div class="wildpanel panel paneldefault">
                    <div class="wildpanelbody panel paneldefault">
                        <h3>Liens sociaux :</h3>
                        <div class="wildpanelbody panel paneldefault">
                            <fieldset class="form-group">
                                <div class="col-sm-4">
                                    <label><i class="fa fa-desktop fa-form"></i> Site web :</label>
                                    <input type="text" class="form-control form-recruiter" placeholder="Site internet de l'entreprise" ng-model="recruiter.website">
                                </div>
                                <div class="col-sm-4">
                                    <label><i class="fa fa-facebook-official fa-form"></i>Facebook :</label>
                                    <input type="text" class="form-control form-recruiter" placeholder="Lien facebook" ng-model="recruiter.facebook">
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-4">
                                    <label><i class="fa fa-twitter fa-form"></i> Twitter :</label>
                                    <input type="text" class="form-control form-recruiter" placeholder="Lien twitter" ng-model="recruiter.twitter">
                                </div>
                                <div class="col-sm-4">
                                    <label><i class="fa fa-linkedin fa-form"></i> Linkedin :</label>
                                    <input type="text" class="form-control form-recruiter" placeholder="Lien linkedin" ng-model="recruiter.linkedin">
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-4">
                                    <label><i class="fa fa-instagram fa-form"></i> Instagram :</label>
                                    <input type="text" class="form-control form-recruiter" placeholder="Lien instagram" ng-model="recruiter.instagram">
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-offset-8 col-sm-3">
                                    <form>
                                        <button class="btnW" ng-click="update6()">Mettre a jour</button>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="col-sm-offset-8 col-sm-3">
                <form>
                    <button class="btnWDelete" ng-click="deleteRecruiter()">Supprimer ce compte</button>
                </form>
            </div>
        </fieldset>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-3">
        <nav class="hidden-xs affix">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: activesubmenu=='#anchor1'}"><a ng-click="scrollTo('anchor1')">Informations concernant l'entreprise</a></li>
                <li ng-class="{active: activesubmenu=='#anchor2'}"><a ng-click="scrollTo('anchor2')">Coordonnées</a></li>
                <li ng-class="{active: activesubmenu=='#anchor3'}"><a ng-click="scrollTo('anchor3')">Visibilité</a></li>
                <li ng-class="{active: activesubmenu=='#anchor4'}"><a ng-click="scrollTo('anchor4')">Descriptions</a></li>
                <li ng-class="{active: activesubmenu=='#anchor5'}"><a ng-click="scrollTo('anchor5')">Logo et photo</a></li>
                <li ng-class="{active: activesubmenu=='#anchor6'}"><a ng-click="scrollTo('anchor6')">Liens sociaux</a></li>
            </ul>
        </nav>
    </div>
</div>