<h2>Edition d'un profil élève</h2>


<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

        <div class="row" id="anchor1">
            <div class="page-header">
                <h2>Informations personnelles :</h2>
            </div>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Prénom :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="firstName">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Nom :</label>
                    <div>
                        <input type="email" class="form-control" id="" ng-model="name">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Age :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="birthDate">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Sexe :</label>
                    <div>
                        <input type="email" class="form-control" id="" ng-model="gender">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Email :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="email">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Téléphone :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="phone">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Ville :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="email">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Région :</label>
                    <select class="form-control" ng-model="situation">
                        <option value="" disabled>Région</option>
                        <option>Alsace-Champagne-Ardenne-Lorraine</option>
                        <option>Aquitaine-Limousin-Poitou-Charentes</option>
                        <option>Auvergne-Rhône-Alpes</option>
                        <option>Bourgogne-Franche-Comté</option>
                        <option>Bretagne</option>
                        <option>Centre-Val de Loire</option>
                        <option>Corse</option>
                        <option>Île-de-France</option>
                        <option>Languedoc-Roussillon-Midi-Pyrénées</option>
                        <option>Nord-Pas-De-Calais-Picardie</option>
                        <option>Normandie</option>
                        <option>Pays-De-la-Loire</option>
                        <option>Provence-Alpes-Côte-d'Azur</option>
                    </select>
                </div>
            </fieldset>
        </div>
        <fieldset class="form-group">
            <div class="col-sm-offset-8 col-sm-3">
                <form>
                    <button class="btnW" ng-click="update1()">mettre a jour</button>
                </form>
            </div>
        </fieldset>


        <div class="row" id="anchor2">
            <div class="page-header">
                <h2>Situation :</h2>
            </div>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Situation professionelle :</label>
                    <select class="form-control" ng-model="situation">
                        <option type="text" class="form-control" value="" disabled></option>
                        <option type="text" class="form-control">En poste</option>
                        <option type="text" class="form-control">En fin de contrat</option>
                        <option type="text" class="form-control">En recherche d'emploi</option>
                        <option type="text" class="form-control">Freelance</option>
                        <option type="text" class="form-control">Consultant</option>
                        <option type="text" class="form-control">Entrepreneur(se)</option>
                        <option type="text" class="form-control">Porteur(se) de projet</option>
                        <option type="text" class="form-control">Etudiant(e)</option>
                        <option type="text" class="form-control">En fin d'études</option>
                        <option type="text" class="form-control">Stagiaire</option>
                        <option type="text" class="form-control">Apprenti(e)</option>
                        <option type="text" class="form-control">En alternance</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Disponibilité :</label>
                    <select class="form-control" ng-model="status">
                        <option type="text" class="form-control" value="" disabled></option>
                        <option type="text" class="form-control">En recherche active</option>
                        <option type="text" class="form-control">En recherche de stage</option>
                        <option type="text" class="form-control">Ouvert(e) aux opportunitées</option>
                        <option type="text" class="form-control">Indisponible</option>
                    </select>
                </div>
            </fieldset>
            <div class="col-sm-5">
                <label class="control-label">Mobilité :</label>
                <fieldset class="form-group">
                    <select class="form-control" ng-model="mobility">
                        <option type="text" class="form-control" value="" disabled></option>
                        <option type="text" class="form-control">Départementale</option>
                        <option type="text" class="form-control">Régionale</option>
                        <option type="text" class="form-control">Nationale</option>
                        <option type="text" class="form-control">Internationale</option>
                    </select>
                </fieldset>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="col-sm-offset-8 col-sm-3">
                <form>
                    <button class="btnW" ng-click="update2()">mettre a jour</button>
                </form>
            </div>
        </fieldset>

        <div class="row" id="anchor3">
            <div class="page-header">
                <h2>Coté wild :</h2>
            </div>
            <fieldset class="form-group">
                <div class="col-sm-10">
                    <label>Son coté wild :</label>
                    <textarea class="form-control" rows="4" ng-model="wildSide"></textarea>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-8 col-sm-3">
                    <form>
                        <button class="btnW" ng-click="update3()">mettre a jour</button>
                    </form>
                </div>
            </fieldset>
        </div>


        <div class="row" id="anchor4">
            <div class="page-header">
                <h2>Compétence(s) :</h2>
            </div>
            <fieldset class="form-group">
                <div class=" col-sm-4">
                    <label class="control-label">Compétences recherchées* :</label>
                    <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Ajoutez des compétences les unes à la suite des autres grâce au moteur de recherche."><i class="fa fa-question-circle"></i></a>
                    <div class="input-group">
                        <input ng-model="chooseSkill" placeholder="Ajoutez un tag de langage, de compétence" class="form-control" list="Languages" />
                        <datalist id="Languages">
                            <option ng-repeat="studentSkill in studentSkills" value="{{studentSkill.title}}">
                        </datalist>
                        <span class="input-group-btn">
                    <button class="btn btn-default btn-side" ng-click="add()" type="button" >OK</button>
                  </span>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <ul ng-show="showSkill">
                        <li class="skill-li" ng-repeat="listSkill in listSkills"><span class="wildSkill clickable">{{ listSkill }}<i class="fa fa-times cross" ng-click="deleteSkill(listSkill)"></i></span></li>
                    </ul>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-8 col-sm-3">
                    <form>
                        <button class="btnW" ng-click="update4()">mettre a jour</button>
                    </form>
                </div>
            </fieldset>
        </div>

        <div class="row" id="anchor5">
            <div class="page-header">
                <h2>Expérience(s) :</h2>
            </div>
            <div ng-repeat="exp in student.experiences">
                <h4>Modifier une experience :</h4>
                <fieldset class="form-group">
                    <div class="col-sm-10">
                        <label class="control-label">Intitulé du poste :</label>
                        <input type="text" name="title" class="form-control" id="" ng-model="exp.experience.job">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Entreprise :</label>
                        <div>
                            <input type="text" class="form-control" id="" ng-model="exp.experience.company">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label class="control-label">Type de contrat :</label>
                        <select class="form-control" ng-model="exp.experience.contract">
                            <option type="text" class="form-control" value="" disabled>Choisissez un contrat...</option>
                            <option type="text" class="form-control">Stage</option>
                            <option type="text" class="formcontrol">Apprentissage</option>
                            <option type="text" class="form-control">CDD</option>
                            <option type="text" class="form-control">CDI</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Ville :</label>
                        <div>
                            <input type="text" class="form-control" id="" ng-model="exp.experience.city">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label class="control-label">Pays :</label>
                        <div>
                            <input type="email" class="form-control" id="" ng-model="exp.experience.country">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Date de début :</label>
                        <div>
                            <input class="form-control" type="date" ng-model="exp.experience.startDate" min="">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label class="control-label">Date de fin :</label>
                        <div>
                            <input class="form-control" type="date" ng-model="exp.experience.endDate" min="">

                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-10">
                        <label>Description de l'expérience :</label>
                        <textarea class="form-control" rows="6" ng-model="exp.experience.detailsExp" name="desc"></textarea>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-offset-8 col-sm-3">
                        <form>
                            <button class="btnW" ng-click="update5(exp)">mettre a jour</button>
                        </form>
                    </div>
                </fieldset>
            </div>

            <h4>Ajouter une experience</h4>
            <fieldset class="form-group">
                <div class="col-sm-10">
                    <label class="control-label">Intitulé du poste :</label>
                    <input type="text" name="title" class="form-control" id="" ng-model="job">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Entreprise :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="company">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Type de contrat :</label>
                    <select class="form-control" ng-model="contract">
                        <option type="text" class="form-control" value="" disabled>Choisissez un contrat...</option>
                        <option type="text" class="form-control">Stage</option>
                        <option type="text" class="formcontrol">Apprentissage</option>
                        <option type="text" class="form-control">CDD</option>
                        <option type="text" class="form-control">CDI</option>
                    </select>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Ville :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="city">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Pays :</label>
                    <div>
                        <input type="email" class="form-control" id="" ng-model="country">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Date de début :</label>
                    <div>
                        <input class="form-control" type="date" ng-model="startDate" min="">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Date de fin :</label>
                    <div>
                        <input class="form-control" type="date" ng-model="endDate" min="">

                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-10">
                    <label>Description de l'expérience :</label>
                    <textarea class="form-control" rows="6" ng-model="detailsExp" name="desc"></textarea>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-8 col-sm-3">
                    <form>
                        <button class="btnW" ng-click="createExperience()">Ajouter</button>
                    </form>
                </div>
            </fieldset>
        </div>

        <div class="row" id="anchor6">
            <div class="page-header">
                <h2>Formation(s) :</h2>
            </div>
            <div ng-repeat="form in student.formations">
                <h4>Modifier une formation</h4>
                <fieldset class="form-group">
                    <div class="col-sm-10">
                        <label class="control-label">Intitulé de la formation :</label>
                        <input type="text" name="title" class="form-control" id="" ng-model="form.formation.title">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Ecole :</label>
                        <input type="text" name="title" class="form-control" id="" ng-model="form.formation.school">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Ville :</label>
                        <div>
                            <input type="text" class="form-control" id="" ng-model="form.formation.city">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label class="control-label">Pays :</label>
                        <div>
                            <input type="text" class="form-control" id="" ng-model="form.formation.country">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Date de début :</label>
                        <div>
                            <input class="form-control" type="date" ng-model="form.formation.startDate" min="">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label class="control-label">Date de fin :</label>
                        <div>
                            <input class="form-control" type="date" ng-model="form.formation.endDate" min="">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-10">
                        <label>Description de la formation :</label>
                        <textarea class="form-control" rows="6" ng-model="form.formation.description" name="desc"></textarea>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-offset-8 col-sm-3">
                        <form>
                            <button class="btnW" ng-click="update6(form)">mettre a jour</button>
                        </form>
                    </div>
                </fieldset>
            </div>

            <h4>Ajouter une formation</h4>
            <fieldset class="form-group">
                <div class="col-sm-10">
                    <label class="control-label">Intitulé de la formation :</label>
                    <input type="text" name="title" class="form-control" id="" ng-model="title">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Ecole :</label>
                    <input type="text" name="title" class="form-control" id="" ng-model="school">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Ville :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="city">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Pays :</label>
                    <div>
                        <input type="text" class="form-control" id="" ng-model="country">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-5">
                    <label class="control-label">Date de début :</label>
                    <div>
                        <input class="form-control" type="date" ng-model="startDate" min="">
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="control-label">Date de fin :</label>
                    <div>
                        <input class="form-control" type="date" ng-model="endDate" min="">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-10">
                    <label>Description de la formation :</label>
                    <textarea class="form-control" rows="6" ng-model="description" name="desc"></textarea>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-8 col-sm-3">
                    <form>
                        <button class="btnW" ng-click="createFormation()">Ajouter</button>
                    </form>
                </div>
            </fieldset>

            <div class="row" id="anchor7">
                <div class="page-header">
                    <h2>Loisir(s) :</h2>
                </div>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Modifier les loisirs :</label>
                        <div>
                            <input type="text" class="form-control" id="" ng-model="hobbies">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-offset-8 col-sm-3">
                        <form>
                            <button class="btnW" ng-click="update7()">mettre a jour</button>
                        </form>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Ajouter un loisir :</label>
                        <div>
                            <input type="text" class="form-control" id="" ng-model="hobbies">
                        </div>
                    </div>
                </fieldset>
            </div>
            <fieldset class="form-group">
                <div class="col-sm-offset-8 col-sm-3">
                    <form>
                        <button class="btnW" ng-click="createHobbies()">Ajouter</button>
                    </form>
                </div>
            </fieldset>
        </div>

        <div class="row" id="anchor8">
                <div class="page-header">
                    <h2>Langue(s) :</h2>
                </div>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Langues :</label>
                            <select class="form-control" ng-model="languages">
                                <option type="text" class="form-control" value="" disabled></option>
                                <option type="text" class="form-control">Allemand</option>
                                <option type="text" class="form-control">Anglais</option>
                                <option type="text" class="form-control">Arabe</option>
                                <option type="text" class="form-control">Basque</option>
                                <option type="text" class="form-control">Bengali</option>
                                <option type="text" class="form-control">Biélorusse</option>
                                <option type="text" class="form-control">Coréen</option>
                                <option type="text" class="form-control">Espagnol</option>
                                <option type="text" class="form-control">Français</option>
                                <option type="text" class="form-control">Grec</option>
                                <option type="text" class="form-control">Hindi</option>
                                <option type="text" class="form-control">Italien</option>
                                <option type="text" class="form-control">Japonais</option>
                                <option type="text" class="form-control">Mandarin</option>
                                <option type="text" class="form-control">Polonais</option>
                                <option type="text" class="form-control">Portugais</option>
                                <option type="text" class="form-control">Russe</option>
                                <option type="text" class="form-control">Autre</option>
                            </select>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-offset-8 col-sm-3">
                        <form>
                            <button class="btnW" ng-click="update2()">mettre a jour</button>
                        </form>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label">Ajouter une langue :</label>
                            <select class="form-control" ng-model="languages">
                                <option type="text" class="form-control" value="" disabled></option>
                                <option type="text" class="form-control">Allemand</option>
                                <option type="text" class="form-control">Anglais</option>
                                <option type="text" class="form-control">Arabe</option>
                                <option type="text" class="form-control">Basque</option>
                                <option type="text" class="form-control">Bengali</option>
                                <option type="text" class="form-control">Biélorusse</option>
                                <option type="text" class="form-control">Coréen</option>
                                <option type="text" class="form-control">Espagnol</option>
                                <option type="text" class="form-control">Français</option>
                                <option type="text" class="form-control">Grec</option>
                                <option type="text" class="form-control">Hindi</option>
                                <option type="text" class="form-control">Italien</option>
                                <option type="text" class="form-control">Japonais</option>
                                <option type="text" class="form-control">Mandarin</option>
                                <option type="text" class="form-control">Polonais</option>
                                <option type="text" class="form-control">Portugais</option>
                                <option type="text" class="form-control">Russe</option>
                                <option type="text" class="form-control">Autre</option>
                            </select>
                    <div>
                </fieldset>
            </div>
            <fieldset class="form-group">
                <div class="col-sm-offset-8 col-sm-3">
                    <form>
                        <button class="btnW" ng-click="createLanguages()">Ajouter</button>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-3">
        <nav class="hidden-xs affix">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: activesubmenu=='#anchor1'}"><a ng-click="scrollTo('anchor1')">Infos personnelles</a></li>
                <li ng-class="{active: activesubmenu=='#anchor2'}"><a ng-click="scrollTo('anchor2')">Situation</a></li>
                <li ng-class="{active: activesubmenu=='#anchor3'}"><a ng-click="scrollTo('anchor3')">Coté wild</a></li>
                <li ng-class="{active: activesubmenu=='#anchor4'}"><a ng-click="scrollTo('anchor4')">Compétences</a></li>
                <li ng-class="{active: activesubmenu=='#anchor5'}"><a ng-click="scrollTo('anchor5')">Expérience</a></li>
                <li ng-class="{active: activesubmenu=='#anchor6'}"><a ng-click="scrollTo('anchor6')">Formation</a></li>
                <li ng-class="{active: activesubmenu=='#anchor7'}"><a ng-click="scrollTo('anchor7')">Loisirs</a></li>
                <li ng-class="{active: activesubmenu=='#anchor8'}"><a ng-click="scrollTo('anchor8')">Langues</a></li>
            </ul>
        </nav>
    </div>
</div>