<h2>Déposer une annonce.</h2>

<div class="">

    <form class="form-horizontal" name="offerForm" ng-submit="send()">

        <!-- $COORDONNEES REFERENT -->
        <div>
            <input type="checkbox" ng-model="referent" checked/> Prendre mes coordonnées ( nom, email, téléphone ) comme référent de cette annonce.
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Cocher si vos coordonnées sont identiques de celles enregistrées lors de votre inscription."><i class="fa fa-question-circle"></i></a>
        </div>

        <div ng-hide="referent" class="spacer">
            <div class="form-group">
                <h4>Vos coordonnées pour cette annonce :</h4>
                <h6>Les champs avec étoiles * sont requis.</h6>
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="control-label">Nom* :</label>
                    <div>
                        <input type="text" class="form-control" id="" placeholder="Nom du référent" ng-model="referentName">
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="control-label">Email* :</label>
                    <div>
                        <input type="email" class="form-control" id="" placeholder="Email du référent" ng-model="referentMail">
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                    <label class="control-label">Téléphone :</label>
                    <div>
                        <input type="text" class="form-control" id="" placeholder="Téléphone du référent" ng-model="referentPhone">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="control-label">Pays* :</label>
                    <div>
                        <input type="text" class="form-control" id="" placeholder="Pays du référent" ng-model="referentCountry">
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="control-label">Ville* :</label>
                    <div>
                        <input type="text" class="form-control" id="" placeholder="Ville du référent" ng-model="referentCity">
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                    <label class="control-label">Code postal* :</label>
                    <div>
                        <input type="text" class="form-control" id="" placeholder="Code postal du référent" ng-model="referentZipCode">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-6">
                    <label class="control-label">Adresse* :</label>
                    <div>
                        <input type="text" class="form-control" id="" placeholder="Numéro et rue du référent" ng-model="referentAddress">
                    </div>
                </div>
            </div>
        </div>


        <!-- $FORMULAIRE -->
        <div class="form-group" ng-class="{'errorForm': offerForm.title.$invalid && !offerForm.title.$pristine }">
            <h4 class="spacer">Votre annonce :</h4>
            <div class="col-sm-offset-1 col-sm-10">
                <label class="control-label">Titre de l'offre* :</label>
                <input type="text" name="title" class="form-control" id="" placeholder="Définissez un intitulé de l'offre" ng-model="offerTitle">
            </div>
        </div>
        <!-- $FORMULAIRE SELECTEURS -->
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Type de contrat* :</label>
                <select class="form-control" ng-model="offerContract">
                    <option type="text" class="form-control" value="" disabled>Choisissez un contrat...</option>
                    <option type="text" class="form-control">Stage</option>
                    <option type="text" class="form-control">Apprentissage</option>
                    <option type="text" class="form-control">CDD</option>
                    <option type="text" class="form-control">CDI</option>
                </select>
            </div>
            <div class="col-sm-offset-1 col-sm-3">
                <label class="control-label">Expérience* :</label>
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Junior: 0 - 2 ans. &#13; Expérimenté: 3 - 5 ans.&#13; Sénior: Plus de 6 ans."><i class="fa fa-question-circle"></i></a>
                <select class="form-control" ng-model="offerXP">
                    <option type="text" class="form-control" value="" disabled>...et un niveau d'expérience</option>
                    <option type="text" class="form-control">Junior</option>
                    <option type="text" class="form-control">Expérimenté</option>
                    <option type="text" class="form-control">Sénior</option>
                </select>
            </div>
            <span ng-show='offerForm.salary.$invalid'>Your login should be a valid email</span>
            <div class="col-sm-offset-1 col-sm-2">
                <label class="control-label">Salaire :</label>
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Salaire en millier d'euros par année. Ex: 30 K€/an." data-placement="top"><i class="fa fa-question-circle"></i></a>

                <input type="text" name="salary" class="form-control" id="" placeholder="K € /an" ng-pattern="salaryRegex" ng-model="offerSalary">
            </div>
        </div>

        <!-- $CHOIX DES COMPETENCES -->
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <label class="control-label">Compétences recherchées* :</label>
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Ajoutez des compétences les unes à la suite des autres grâce au moteur de recherche."><i class="fa fa-question-circle"></i></a>
                <div class="input-group">
                    <input ng-model="chooseSkill" placeholder="Ajoutez un tag de langage, de compétence" class="form-control" list="Languages" />
                    <datalist id="Languages">
                        <option ng-repeat="offerSkill in offerSkills" value="{{offerSkill.title}}">
                    </datalist>
                    <span class="input-group-btn">
                    <button class="btn btn-default btn-side" ng-click="add()" type="button" >OK</button>
                  </span>
                </div>
            </div>
            <!-- $MSG D'ERREURS DES COMPETENCES -->
            <div class="col-sm-3">
                <div>
                    <label class="wildWarning control-label" ng-show="errorChoice">Vous avez déjà choisi cette compétence !</label>
                    <label class="wildWarning control-label" ng-show="errorTyping">Cette compétence n'éxiste pas !</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <label class="control-label">Date de publication* :</label>
                    <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Aide"><i class="fa fa-question-circle"></i></a>
                    <input class="form-control" type="date" ng-model="offerDate" min="{{Dday}}">
                </div>
            </div>
        </div>

        <!-- $AFFICHAGE DES TAGS COMPETENCES -->
        <div class="col-sm-offset-1 col-sm-10">
            <div class="form-group">
                <ul ng-show="showSkill">
                    <li class="skill-li" ng-repeat="listSkill in listSkills"><span class="wildSkill clickable">{{ listSkill }}<i class="fa fa-times cross times-skill" ng-click="deleteSkill(listSkill)"></i></span></li>
                </ul>
            </div>
        </div>

        <!-- $CHAMPS DE DESCRIPTIONS -->
        <div class="form-group spacer" ng-class="{'errorForm' : offerForm.desc.$error.required }">
            <div class="col-sm-offset-1 col-sm-10">
                <label>Description du poste* :</label>
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Description du poste, des conditions et du projet."><i class="fa fa-question-circle"></i></a>
                <textarea class="form-control" rows="6" ng-model="offerDescription" name="desc"></textarea>
                <span ng-show='offerForm.desc.$dirty && offerForm.desc.$error.required'>A login is required</span>
            </div>
        </div>

        <div class="form-group spacer">
            <div class="col-sm-offset-1 col-sm-10">
                <label>Responsabilités du candidat* :</label>
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Quels seront les responsabilités ou missions que le candidats aura à effectuer ?"><i class="fa fa-question-circle"></i></a>
                <textarea class="form-control" rows="4" ng-model="offerResp"></textarea>
            </div>
        </div>

        <div class="form-group spacer">
            <div class="col-sm-offset-1 col-sm-10">
                <label>Quel est le côté Wild de votre entreprise ? :</label>
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Donnez envie à votre futur candidat de travailler chez vous !"><i class="fa fa-question-circle"></i></a>
                <textarea class="form-control" rows="3" ng-model="offerWhy"></textarea>
            </div>
        </div>
        <!-- $BOUTON D'ENVOI -->
        <div class="form-group">
            <div class="col-sm-9 text-right align">
                <label class="control-label" ng-show="incompleteError">Veuillez remplir tous les champs.</label>
            </div>
            <div class="col-sm-3">
                <button class="btnW" type="submit"><strong>Poster cette annonce</strong></button>
            </div>
        </div>
    </form>



</div>