<div class="row">

    <!--LEFT COLUMN   -->
    <div class="col-xs-12 col-ms-4 col-md-4 col-lg-4">
        <div class="row">

            <!--INFO CV-->
            <div class="col-xs12 col-sm-12 col-md-12 col-lg-12">
                <div class="wildpanel panel paneldefault">
                    <div class="wildpanelheader panel paneldefault">
                    </div>
                    <div class="wildpanelbody panel paneldefault" id="studentCVmin">
                        <img ng-if="student.logo" class="imgprofilstudent" ng-src="{{student.logo}}">
                        <img ng-if="!student.logo" class="imgprofilstudent" ng-src="{{student.logo}}">
                        <h1 class="studentname"><a href="/#/book/{{user._id}}">{{student.firstName}} {{student.name}}</a></h1>
                        <h3 class="studentteaser">"{{student.teaser}}"</h3>
                    </div>
                    <div class="wildpanelbody panel paneldefault">
                        <p class="headeradvert smalltexadvert">{{student.city}} {{student.region}}</p>
                        <h5>Mes compétences</h5>
                        <ul class="skill-ul" ng-show="showSkill">
                            <li class="headeradvert skill-li" ng-repeat="skill in listSkills"><span class="wildSkill">{{skill}}<i class="fa fa-times cross times-skill" ng-click="deleteSkill(skill)"></i></span></li>
                        </ul>
                    </div>
                    <div class="wildpanelbody panel paneldefault text-center">
                        <p class="bg-warning" ng-show="errorChoice">Vous avez déjà renseigné cette compétence</p>
                        <p class="bg-danger" ng-show="errorTyping">Cette compétence n'existe pas</p>
                    </div>
                    <div class="wildpanelfooterinput panel paneldefault form-inline row">
                        <div class="inputwildpanelfooter input-group input-group-sm col-md-8 col-sm-10 col-xs-12">
                            <input ng-model="chooseSkill" placeholder="Ajoutez un tag de langage" class="form-control" list="Languages" />
                            <datalist id="Languages">
                                <option ng-repeat="offerSkill in offerSkills | filter:$viewValue | limitTo:8" value="{{offerSkill.title}}">
                            </datalist>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-side" ng-click="add()" type="button">OK</button>
                            </span>
                        </div>
                        <a class="text-right" href="/#/editBook/{{user._id}}">Editer mon CV</a>
                    </div>
                </div>
            </div>

            <!--INFO STATUT-->
            <div class="col-xs12 col-sm-6 col-md-12 col-lg-12">
                <div class=" wildpanel panel paneldefault">
                    <div class="wildpanelbody panel paneldefault">
                        <h5>Situation professionel</h5>
                        <p>{{student.situation}}</p>
                        <h5>Disponibilité</h5>
                        <p>{{student.status}}</p>
                        <h5>Mobilité</h5>
                        <p>{{student.mobility}}</p>
                    </div>
                    <div class="wildpanelfooter panel paneldefault">
                        <a href="/#/editBook/{{user._id}}">Editer vos statuts</a>
                    </div>
                </div>
            </div>

            <!--MAP-->
            <div class="col-xs12 col-sm-6 col-md-12 col-lg-12">
                <div class="wildpanel panel paneldefault">
                    <div class="wildpanelheader panel paneldefault">
                        <h4>{{offers.length}} {{offers.length > 1 ? 'annonces' : 'annonce'}} sur wildfinder</h4>
                    </div>
                    <div id="map" style="width:100%;height:300px;"></div>
                    <div class="wildpanelfooter panel paneldefault">
                        <a href="/#/searchOffer">Voir toutes les offres</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--TOP-RIGHT COLUMN-->
    <div class="col-xs-12 col-ms-8 col-md-8 col-lg-8 ">

        <!--MATCHING OFFERS-->
        <div class="row wildpanel panel paneldefault">
            <div class="wildpanelheader panel paneldefault">
                <h4>{{matchingOffers.length}} {{matchingOffers.length > 1 ? 'Annonces' : 'Annonce'}} qui {{matchingOffers.length > 1 ? 'pourraient' : 'pourrait'}} m'interresser</h4>
            </div>
            <div class="panelmatchoffer no-marge">
                <!--OFFER-->
                <div ng-repeat="matchingOffer in matchingOffers" class="wildpanelbodys panel paneldefault">
                    <div class="offerdelete">
                        <ul>
                            <li class="headeradvert">
                                <i ng-click="likeClick(matchingOffer)" class="fa fa-heart fa-lg" ng-class="{'heartnotactive': matchingOffer.isLiked===false,'heartactive': matchingOffer.isLiked===true}" uib-tooltip="{{matchingOffer.isLiked ? 'Ne plus aimer' : 'aimer cette offre'}}" tooltip-placement="left"></i>
                            </li>
                            <li class="headeradvert">
                                <p class="headeradvert smalltexadvert">{{matchingOffer.numberLiked}}</p>
                            </li>
                        </ul>
                    </div>
                    <ul>
                        <li class="headeradvert" ng-click="goToOffer(matchingOffer)">
                            <h2 class="headeradvert titleadvert">{{matchingOffer.title}}</h2></li>

                    </ul>
                    <ul>
                        <li class="headeradvert">
                            <p class="headeradvert smalltexadvert">chez</p>
                        </li>
                        <li class="headeradvert">
                            <p class="headeradvert companytexadvert">{{matchingOffer.referentId.name}}</p>
                        </li>
                        <li class="headeradvert">
                            <p class="headeradvert smalltexadvert">Posté {{startOffer(matchingOffer.startDate)}}</p>
                        </li>
                    </ul>
                    <ul class="skill-ul">
                        <li class="headeradvert skill-li" ng-repeat="skill in matchingOffer.skills"><span class="wildSkill">{{skill.skill.title}}</span>
                    </ul>
                    <ul>
                        <li class="headeradvert"><i class="fa fa-file-text-o fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{matchingOffer.contract}}</p>
                        </li>
                        <li class="headeradvert"><i class="fa fa-eur fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{matchingOffer.salary}}</p>
                        </li>
                        <li class="headeradvert"><i class="fa fa-briefcase fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{matchingOffer.experience}}</p>
                        </li>
                        <li class="headeradvert"><i class="fa fa-map-marker fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{matchingOffer.city}} ({{matchingOffer.country}})</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="wildpanelfooter panel paneldefault">
                <a href="/#/searchOffer">
                    <button class="btnW-sm">Voir plus d'annonces</button>
                </a>
            </div>
        </div>

        <!--BOTTOM RIGHT COLUMN-->
        <div class="row">

            <!--FAVOURITES OFFERS-->
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="wildpanel panel paneldefault">
                    <div class="wildpanelheader panel paneldefault">
                        <h4>Mes annonces favorites</h4>
                    </div>
                    <div class="panelfavouritesoffer no-marge">
                        <!--OFFER-->
                        <div ng-repeat="likedOffer in likedOffers" ng-show="after(likedOffer.startDate) && before(likedOffer.endDate)" class="wildpanelbodys panel paneldefault">
                            <div class="offerdelete">
                                <ul>
                                    <li class="headeradvert">
                                        <i ng-click="likeClick(likedOffer)" class="fa fa-times fa-lg" uib-tooltip="Ne plus liker" tooltip-placement="bottom"></i>
                                    </li>
                                </ul>
                            </div>

                            <ul>
                                <li class="headeradvert" ng-click="goToOffer(likedOffer)">
                                    <h2 class="headeradvert titleadvert-sm">{{likedOffer.title}}</h2></li>
                            </ul>
                            <ul>
                                <li class="headeradvert">
                                    <p class="headeradvert smalltexadvert-sm">chez</p>
                                </li>
                                <li class="headeradvert">
                                    <p class="headeradvert companytexadvert-sm">{{likedOffer.referentId.name}}</p>
                                </li>
                                <li class="headeradvert">
                                    <p class="headeradvert smalltexadvert-sm">Posté {{startOffer(likedOffer.startDate)}}</p>
                                </li>
                            </ul>
                            <ul class="skill-ul-mini">
                                <li class="headeradvert skill-li-mini" ng-repeat="skill in likedOffer.skills"><span class="wildSkill-mini">{{skill.skill.title}}</span>
                            </ul>
                            <ul>
                                <li class="headeradvert"><i class="fa fa-file-text-o fa-lg mini"></i>
                                    <p class="headeradvert smalltexadvert1-sm">{{likedOffer.contract}}</p>
                                </li>
                                <li class="headeradvert"><i class="fa fa-eur fa-lg mini"></i>
                                    <p class="headeradvert smalltexadvert1-sm">{{likedOffer.salary}}</p>
                                </li>
                                <li class="headeradvert"><i class="fa fa-briefcase fa-lg mini"></i>
                                    <p class="headeradvert smalltexadvert1-sm">{{likedOffer.experience}}</p>
                                </li>
                                <li class="headeradvert"><i class="fa fa-map-marker fa-lg mini"></i>
                                    <p class="headeradvert smalltexadvert1-sm">{{likedOffer.city}} ({{likedOffer.country}})</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wildpanelfooter panel paneldefault">
                        <p class="paragraphWPF">{{numberMatchOffer}} {{numberMatchOffer > 1 ? 'annonces' : 'annonce'}} dans vos favoris</p>
                    </div>
                </div>
            </div>

            <!--STUDENT'S BOOK-->
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="wildpanel panel paneldefault">
                    <div class="wildpanelheader panel paneldefault">
                        <a class="title-link" href="/#/book"><h4>Le Book des élèves</h4></a>
                    </div>
                    <div class=" wildpanelbodybook-bg panel paneldefault ">
                        <img class="img-responsive center-block" src="../img/book.jpg">
                    </div>
                    <div class="wildpanelbody panel paneldefault row">
                        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                            <h2 class="bookstatnumber">{{bookInfo.nb_student}}</h2>
                            <p class="bookstattitle">Wilders</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                            <h2 class="bookstatnumber">{{bookInfo.nb_student_job}}</h2>
                            <p class="bookstattitle">en recherche d'emploi</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                            <h2 class="bookstatnumber">{{bookInfo.nb_student_stage}}</h2>
                            <p class="bookstattitle">en recherche de stage</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>