<!--TEASER-->
<div class="row">
    <!--OFFERS DASHBOARD-->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="wildpanel panel paneldefault">
            <div class="wildpanelheader panel paneldefault">
                <a class="title-link" ng-click=""><h4>Vos annonces</h4></a>
            </div>

            <!--MENU-->
            <div class="wildpanelnavbar row">
                <a ng-click="show1()">
                    <div class="wildpanelmenu col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-class="{'wildpanelmenuactive': currentoffers==true}">
                        <h4>En cours</h4></div>
                </a>
                <a ng-click="show2()">
                    <div class="wildpanelmenu  col-xs-4 col-sm-4 col-md-4col-lg-4" ng-class="{'wildpanelmenuactive': comingoffers==true}">
                        <h4>A venir</h4></div>
                </a>
                <a ng-click="show3()">
                    <div class="wildpanelmenu  col-xs-4 col-sm-4 col-md-4col-lg-4" ng-class="{'wildpanelmenuactive': expiredoffers==true}">
                        <h4>Archivées</h4></div>
                </a>
            </div>

            <!--CURRENT OFFERS-->
            <span ng-show="currentoffers">
                   
        <!--OFFER-->
                    <div ng-repeat="offerList in offerLists" ng-show="after(offerList.startDate) && before(offerList.endDate)" class="wildpanelbodys panel paneldefault">
                        <div class="offerdelete">
                            <i class="fa fa-pencil fa-lg" ng-click="edit(offerList._id)" uib-tooltip="Editer" tooltip-placement="bottom"></i>
                            <i class="fa fa-sign-in fa-lg" ng-click="archiv(offerList._id)" uib-tooltip="Archiver" tooltip-placement="bottom"></i>
                        </div>
                        <ul>
                            <li class="headeradvert2" ng-click="goToOffer(offerList)"><h2 class="headeradvert titleadvert">{{offerList.title}}</h2></li>
                        </ul>
                        <ul>
                           <li class="headeradvert"><p class="headeradvert smalltexadvert">Posté {{startOffer(offerList.startDate)}} -</p></li>
                            <li class="headeradvert"><p class="headeradvert smalltexadvert"> Se termine {{endOffer(offerList.endDate)}}.</p></li>
                        </ul>
                        <ul class="skill-ul">
                            <li ng-repeat="skill in offerList.skills" class="headeradvert skill-li"><span class="wildSkill">{{skill.skill.title}}</span></li>
            </ul>
            <ul>
                <li class="headeradvert"><i class="fa fa-file-text-o fa-lg"></i>
                    <p class="headeradvert smalltexadvert1">{{offerList.contract}}</p>
                </li>
                <li class="headeradvert"><i class="fa fa-eur fa-lg"></i>
                    <p class="headeradvert smalltexadvert1">{{offerList.salary}}</p>
                </li>
                <li class="headeradvert"><i class="fa fa-briefcase fa-lg"></i>
                    <p class="headeradvert smalltexadvert1">{{offerList.experience}}</p>
                </li>
                <li class="headeradvert"><i class="fa fa-map-marker fa-lg"></i>
                    <p class="headeradvert smalltexadvert1">{{offerList.city}} ({{offerList.country}}).</p>
                </li>
            </ul>

        </div>
        <div class="wildpanelfooter panel paneldefault">
            <p class="paragraphWPF">{{offerLists.length}} {{offerLists.length > 1 ? 'annonces' : 'annonce'}} publiées au total</p>
        </div>
        </span>


        <!--COMING OFFER-->
        <span ng-show="comingoffers">
        
        <!--OFFER-->
                    <div ng-repeat="offerList in offerLists" ng-show="before(offerList.startDate)" class="wildpanelbodys panel paneldefault">
                        <div class="offerdelete">
                            <i class="fa fa-pencil fa-lg" ng-click="edit(offerList._id)" uib-tooltip="Editer" tooltip-placement="bottom"></i>
                            <i class="fa fa-sign-in fa-lg" ng-click="archiv(offerList._id)" uib-tooltip="Archiver" tooltip-placement="bottom"></i>
                        </div>
                        <ul>
                            <li class="headeradvert" ng-click="goToOffer(offerList)"><h2 class="headeradvert titleadvert">{{offerList.title}}</h2></li>
                        </ul>
                        <ul>
                            <li class="headeradvert"><p class="headeradvert smalltexadvert">Sera posté {{startOffer(offerList.startDate)}}.</p></li>
                        </ul>
                        <ul class="skill-ul">
                            <li ng-repeat="skill in offerList.skills" class="headeradvert skill-li"><span class="wildSkill">{{skill.skill.title}}</span>
        </ul>
        <ul>
            <li class="headeradvert"><i class="fa fa-file-text-o fa-lg"></i>
                <p class="headeradvert smalltexadvert1">{{offerList.contract}}</p>
            </li>
            <li class="headeradvert"><i class="fa fa-eur fa-lg"></i>
                <p class="headeradvert smalltexadvert1">{{offerList.salary}}</p>
            </li>
            <li class="headeradvert"><i class="fa fa-briefcase fa-lg"></i>
                <p class="headeradvert smalltexadvert1">{{offerList.experience}}</p>
            </li>
            <li class="headeradvert"><i class="fa fa-map-marker fa-lg"></i>
                <p class="headeradvert smalltexadvert1">{{offerList.city}} ({{offerList.country}}).</p>
            </li>
        </ul>
    </div>
    <div class="wildpanelfooter panel paneldefault">
        <p class="paragraphWPF">{{offerLists.length}} {{offerLists.length > 1 ? 'annonces' : 'annonce'}} publiées au total</p>
    </div>
    </span>

    <!--EXPIRED OFFER-->
    <span ng-show="expiredoffers">
    
        <!--OFFER-->
            <div ng-repeat="offerList in offerLists" ng-if="after(offerList.endDate)" class="wildpanelbodys panel paneldefault">
                        <div class="offerdelete">
                            <!--i class="fa fa-repeat fa-lg" ng-click="" data-toggle="tooltip" data-placement="top" title="Reposter à partir de cette annonce"></i-->
                            <i class="fa fa-times fa-lg" ng-click="delete(offerList._id)" uib-tooltip="Supprimer definitivement" tooltip-placement="bottom"></i>
                        </div>
                        <ul>
                            <li class="headeradvert" ng-click="goToOffer(offerList)"><h2 class="headeradvert titleadvert">{{offerList.title}}</h2></li>
                            <li class="headeradvert"><p class="headeradvert smalltexadvert">Archivée {{endOffer(offerList.endDate)}}.</p></li>
                        </ul>
                        <ul class="skill-ul">
                            <li ng-repeat="skill in offerList.skills" class="headeradvert skill-li"><span class="wildSkill">{{skill.skill.title}}</span>
    </ul>
    <ul>
        <li class="headeradvert"><i class="fa fa-file-text-o fa-lg"></i>
            <p class="headeradvert smalltexadvert1">{{offerList.contract}}</p>
        </li>
        <li class="headeradvert"><i class="fa fa-eur fa-lg"></i>
            <p class="headeradvert smalltexadvert1">{{offerList.salary}}</p>{{offferList.lengh}}
        </li>
        <li class="headeradvert"><i class="fa fa-briefcase fa-lg"></i>
            <p class="headeradvert smalltexadvert1">{{offerList.experience}}</p>
        </li>
        <li class="headeradvert"><i class="fa fa-map-marker fa-lg"></i>
            <p class="headeradvert smalltexadvert1">{{offerList.city}} ({{offerList.country}}).</p>
        </li>
    </ul>

</div>
<div class="wildpanelfooter panel paneldefault">
    <p class="paragraphWPF">{{offerLists.length}} {{offerLists.length > 1 ? 'annonces' : 'annonce'}} publiées au total</p>
</div>
</span>

</div>
</div>

<!--STUDENTS BOOK-->
<div class="col-sm-12 col-sm-12 col-md-6 col-lg-6 no-marge">
    <div class="col-xs-12 col-sm-6 col-md-12 col-md-12">
        <div class="wildpanel panel paneldefault">
            <div class="wildpanelheader panel paneldefault">
                <a class="title-link" href="/#/book"><h4>Le Book des élèves</h4></a>
            </div>
            <div class=" wildpanelbodybook-bg panel paneldefault">
                <img class="img-responsive center-block" src="../img/book.jpg">
            </div>
            <div class="wildpanelbody panel paneldefault row">
                <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                    <a class="title-link" ng-click=""><h2 class="bookstatnumber">{{bookInfo.nb_student}}</h2></a>
                    <a class="title-link" ng-click="">
                        <p class="bookstattitle">Wilders</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                    <a class="title-link" ng-click=""><h2 class="bookstatnumber">{{bookInfo.nb_student_job}}</h2></a>
                    <a class="title-link" ng-click="">
                        <p class="bookstattitle">En recherche d'emploi</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                    <a class="title-link" ng-click=""><h2 class="bookstatnumber">{{bookInfo.nb_student_stage}}</h2></a>
                    <a class="title-link" ng-click="">
                        <p class="bookstattitle">En recherche de stage</p>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!--FAVOURITES STUDENTS-->
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
        <div class="wildpanel panel paneldefault">
            <div class="wildpanelheader panel paneldefault">
                <h4>Vos coups de coeur</h4>
            </div>

            <!--STUDENT-->
            <div ng-repeat="student in likedStudents | orderBy:'name'" class="wildpanel-fav panel paneldefault">
                <div class="wildpanelheaderGrey panel paneldefault">
                    <div class="offerdelete">
                        <i class="fa fa-times fa-lg" ng-click="likeClick(student)" uib-tooltip="Ne plus suivre" tooltip-placement="bottom"></i>
                    </div>
                    <h4 ng-click="goToStudent(student._id)" class="headeradvert studentname-mini">{{student.firstName}} {{student.name}}</h4>
                </div>
                <div class="wildpanelheart panel paneldefault">
                    <img ng-if="student.logo" ng-click="goToStudent(student._id)" class="imgsearchbook2" ng-src="{{student.logo}}">
                    <img ng-if="!student.logo" ng-click="goToStudent(student._if)" class="imgsearchbook2" src="../img/default-profil.jpg">
                    <ul>
                        <li class="headeradvert2">
                            <h3 class="studentteaser">{{student.teaser}}</h3></li>
                    </ul>
                    <ul class="skill-ul">
                        <li ng-repeat="skill in student.skills" class="headeradvert li-skill"><span class="wildSkill">{{skill.skill.title}}</span>
                    </ul>
                </div>
            </div>
            <div class="wildpanelfooter panel paneldefault">
                <p class="paragraphWPF">{{numberStudentLiked}} {{numberStudentLiked > 1 ? 'élèves' : 'élève'}} dans vos favoris</p>
            </div>
        </div>
    </div>
</div>
</div>