<div class="row">

<!--LEFT COLUMN   -->     
    <div class="col-md-4">
       
<!--INFO CV       -->
        <div class="row wildpanel panel paneldefault">
            <div class="wildpanelheader panel paneldefault">
            </div>
            <div class="wildpanelbody panel paneldefault" id="studentCVmin">
                <img class="imgprofilstudent" src="../img/darkvador.jpg">
                <h1 class="studentname">Student name</h1>
                <h3 class="studentteaser">Sudent teaser</h3>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <h5>Ma derniere expérience</h5>
                <h5>Mes compétences</h5>
            </div>
            <div class="wildpanelfooterinput panel paneldefault form-inline row">
                <div class="inputwildpanelfooter input-group input-group-sm col-md-8 col-sm-10 col-xs-12">
                    <input type="text" class="form-control" uib-typeahead="for skill in offerSkills | filter:$viewValue | limitTo:8" placeholder="Ajoutez une compétence" ng-model="skill">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-side" type="button">OK</button>
                    </div>
                </div>
                <a class="text-right">Editer mon CV</a>
            </div>
        </div>
        
<!--INFO STATUT-->
        <div class="row wildpanel panel paneldefault">
            <div class="wildpanelbody panel paneldefault">
                <h5>Mon statut</h5>
                <h5>Ma Mobilité</h5>
            </div>
            <div class="wildpanelfooter panel paneldefault">
                <a>Editer vos statuts</a>
            </div>
        </div>
        
<!--MAP-->
        <div class="row wildpanel panel paneldefault">
           <div class="wildpanelheader panel paneldefault">
                <h4></h4>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rerum obcaecati vitae, voluptatum dolores dolorem quaerat commodi natus est vero voluptas culpa itaque ipsam expedita, eveniet cupiditate nihil tenetur repudiandae.</p>
            </div>
            <div class="wildpanelfooter panel paneldefault">
                <a>clic ici</a>
            </div> 
        </div>
    </div>


<!--TOP-RIGHT COLUMN-->
    <div class="col-md-8">  

<!--MATCHING OFFERS-->
        <div class="row wildpanel panel paneldefault">
            <div class="wildpanelheader panel paneldefault">
                <h4>Annonces qui pourraient m'interresser</h4>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rerum obcaecati vitae, voluptatum dolores dolorem quaerat commodi natus est vero voluptas culpa itaque ipsam expedita, eveniet cupiditate nihil tenetur repudiandae.</p>
            </div>
            <div class="wildpanelbodys panel paneldefault">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rerum obcaecati vitae, voluptatum dolores dolorem quaerat commodi natus est vero voluptas culpa itaque ipsam expedita, eveniet cupiditate nihil tenetur repudiandae.</p>
            </div>
            <div class="wildpanelfooter panel paneldefault">
                <button class="btnW-sm">Voir plus d'annonces</button>
            </div>
        </div>
        
<!--BOTTOM RIGHT COLUMN-->
        <div class="row">
           
<!--FAVOURITES OFFERS-->
            <div class="col-md-6">
                <div class="wildpanel panel paneldefault">
                    <div class="wildpanelheader panel paneldefault">
                        <h4>Mes annonces favorites</h4>
                    </div>
                    <div class="wildpanelbody panel paneldefault">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rerum obcaecati vitae, voluptatum dolores dolorem quaerat commodi natus est vero voluptas culpa itaque ipsam expedita, eveniet cupiditate nihil tenetur repudiandae.</p>
                    </div>
                    <div class="wildpanelfooter panel paneldefault">
                        <p class="paragraphWPF">0 annonces au total</p>
                    </div>
                </div>
            </div> 
            
<!--STUDENT'S BOOK-->
            <div class="col-md-6">
                <div class="wildpanel panel paneldefault">
                    <div class="wildpanelheader panel paneldefault">
                        <h4>Le Book des élèves</h4>
                    </div>
                    <div class="wildpanelbody panel paneldefault">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rerum obcaecati vitae, voluptatum dolores dolorem quaerat commodi natus est vero voluptas culpa itaque ipsam expedita, eveniet cupiditate nihil tenetur repudiandae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
