<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="row wildpanel panel paneldefault">
                <div class="wildpanelbody panel paneldefault" id="">
                    <div class="col-md-8 wildpanelbodyteaserrctr">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="col-md-4 text-center wildpanelbodybuttonrctr">
                    <button type="submit" class="btnW"><strong>Créer une annonce</strong></button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-6">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelheader panel paneldefault">
                    <h4>Vos annonces</h4>
                </div>
                <div class="wildpanelbody panel paneldefault">
                    
                </div>
                <div class="wildpanelbodys panel paneldefault">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rerum obcaecati vitae, voluptatum dolores dolorem quaerat commodi natus est vero voluptas culpa itaque ipsam expedita, eveniet cupiditate nihil tenetur repudiandae.</p>
                </div>
                <div class="wildpanelbodys panel paneldefault">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rerum obcaecati vitae, voluptatum dolores dolorem quaerat commodi natus est vero voluptas culpa itaque ipsam expedita, eveniet cupiditate nihil tenetur repudiandae.</p>
                </div>
                <div class="wildpanelfooter panel paneldefault">
                    <p class="paragraphWPF">3 annonces en cours</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelheader panel paneldefault">
                    <h4>Le book</h4>
                </div>
                <div class="wildpanelbody panel paneldefault">
                </div>
                <div class="wildpanelfooter panel paneldefault">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-6 col-sm-6">
            <div class="wildpanel panel paneldefault">
                <div class="wildpanelheader panel paneldefault">
                    <h4>Vos coup de coeur</h4>
                </div>
                <div class="wildpanelbody panel paneldefault">
                </div>
                <div class="wildpanelfooter panel paneldefault">
                </div>
            </div>
        </div>
    </div>
</div>