<h2>Déposer une annonce</h2>


<div class="">

	<form class="form-horizontal">
        <div class="checkbox disabled">
          <label>
            <input type="checkbox" ng-model="noReferent" value="">
            Prendre mes coordonnées ( nom, email, téléphone ) comme référent de cette annonce
          </label>
        </div>
        
		<div class="form-group spacer" ng-show="referentBox">
		    <label  class="col-sm-2 control-label">Nom</label>
		   <div class="col-sm-2">
                <div>
                    <input type="text" class="form-control" id="" placeholder="Nom du référent">
                </div>
            </div>
            <label  class="col-sm-1 control-label">eMail</label>
            <div class="col-sm-3">
                <div>
                    <input type="email" class="form-control" id="" placeholder="Email du référent">
                </div>
            </div>
            <div>
                <label class="col-sm-1 control-label">Téléphone</label>
                <div class="col-sm-3">
		            <input type="text" class="form-control" id="" placeholder="Tel du référent">
                </div>
            </div>
        </div>
		
		<div class="form-group spacer">
		    <label class="col-sm-2 control-label">Titre de l'offre</label>
		  <div class="col-sm-10">
		    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Titre">
		  </div>
		</div>
		
		<div class="form-group">
		    <label  class="col-sm-2 control-label">Type de contrat</label>
		   <div class="col-sm-4">
                <select class="form-control">
                  <option type="text" class="form-control">Choisissez un contrat</option>
                  <option type="text" class="form-control">Stage</option>
                  <option type="text" class="form-control">CDD</option>
                  <option type="text" class="form-control">CDI</option>
                </select>
            </div>
            <div>
                <label class="col-sm-1 control-label">Salaire</label>
                <div class="col-sm-5">
		            <input type="text" class="form-control" id="" placeholder="Salaire">
                </div>
            </div>
        </div>
        
        <div class="form-group spacer">
            <div class="col-sm-offset-2 col-sm-10">
                <label>Description de l'annonce</label>            
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
	</form>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Poster mon annonce</button>
        </div>
    </div>
    
   
</div>