<div class="row">
    <div class="col-md-4">
        <div class="wildpanel panel panel-default">
            <div class="wildpanelheader panel panel-default">
                <h4>Quelques info sur {Nom de l'entreprise}</h4>
            </div>
            <div class="wildpanelbody panel panel-default">
                <p><span class="company-name">{Nom de l'entreprise}</span> est un/une <b>{type de l'entreprise}</b> de <b>{nombre d'employés} employé(s)</b> dans le secteur <b>{secteur d'activité de l'entreprise}</b> situé(e) {adresse de l'entreprise}</p>
            </div>
            <div class="wildpanelbody panel panel-default">
                <img class="img-company" src="../img/empireCompany.jpg" alt="image illustrant {nom de l'entreprise}">
            </div>
            <div class="wildpanelbody panel panel-default">
                <h3>Notre Metier</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae, officiis nesciunt placeat minus tempora, illo ex qui magnam reprehenderit quas dolores saepe tempore! Distinctio sequi, dolorem laboriosam non praesentium.</p>
            </div>
            <div class="wildpanelfooter panel panel-default">
                <a href=""><i class="fa fa-desktop fa-lg contact-link"></i></a>
                <a href=""><i class="fa fa-facebook-official fa-lg contact-link"></i></a>
                <a href=""><i class="fa fa-twitter fa-lg contact-link"></i></a>
                <a href=""><i class="fa fa-instagram fa-lg contact-link"></i></a>
                <a href=""><i class="fa fa-linkedin fa-lg contact-link"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="wildpanel panel panel-default">
            <div class="wildpanelheader panel panel-default">
                <h4>Description de l'offre</h4>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <ul>
                    <li class="headeradvert"><h2 class="headeradvert titleadvert">Nom de l'offre</h2></li>
                    <li class="headeradvert"><p class="headeradvert smalltexadvert">depuis n jours</p></li>
                    <li class="headeradvert"><i class="fa fa-heart fa-lg heartnotactive"></i></li>
                    <li class="headeradvert"><i class="fa fa-share-alt fa-lg"></i></li> 
                </ul>
                <ul>
                    <li class="headeradvert"><p class="headeradvert smalltexadvert">chez</p></li>
                    <li class="headeradvert"><p class="headeradvert companytexadvert">Nom de l'entreprise</p></li>
                </ul>
                <ul class="skill-ul">
                    <li class="headeradvert skill-li"><span class="wildSkill">Compétence</span>
                </ul>
                <ul>
                    <li class="headeradvert"><i class="fa fa-file-text-o fa-lg"></i></li>
                    <li class="headeradvert"><p class="headeradvert smalltexadvert1">Contrat</p></li>
                    <li class="headeradvert"><i class="fa fa-eur fa-lg"></i></li>
                    <li class="headeradvert"><p class="headeradvert smalltexadvert1">Salaire</p></li>
                    <li class="headeradvert"><i class="fa fa-briefcase fa-lg"></i></li>
                    <li class="headeradvert"><p class="headeradvert smalltexadvert1">Expérience</p></li>
                    <li class="headeradvert"><i class="fa fa-map-marker fa-lg"></i></li>
                    <li class="headeradvert"><p class="headeradvert smalltexadvert1">Adresse</p></li>
                </ul>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <h3>Description du poste</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur aliquid natus ipsa doloribus debitis minima nam obcaecati, ea alias aut eius, nisi tempora vel. Numquam blanditiis similique, officiis velit quo!</p>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <h3>Responsabilités</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque magni aliquam facere dolore aspernatur architecto voluptatibus repellendus fugiat voluptate cumque omnis nisi, et asperiores cupiditate, similique voluptatum. Magni, enim amet.</p>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <h3>Pourquoi venir chez <span class="company-name">{Nom de l'entreprise}</span> ?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque magni aliquam facere dolore aspernatur architecto voluptatibus repellendus fugiat voluptate cumque omnis nisi, et asperiores cupiditate, similique voluptatum. Magni, enim amet.</p>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <h3>Contact</h3>
                <div class="text-center">
                    <ul>
                        <li class="headeradvert"><i class="fa fa-paper-plane-o fa-lg"></i></li>
                        <li class="headeradvert"><p class="headeradvert smalltexadvert1">mail</p></li>
                        <li class="headeradvert"><i class="fa fa-phone fa-lg"></i></li>
                        <li class="headeradvert"><p class="headeradvert smalltexadvert1">telephone</p></li>
                    </ul>
                </div>
            </div>
            <div class="wildpanelfooter panel panel-default">
            
            </div>
        </div>
    </div>
</div>