<div class="row">

    <!--COMPANY DESCRIPTION-->
    <div class="col-md-4">
        <div class="wildpanel panel panel-default">
            <div class="wildpanelheader panel panel-default">
                <h4>Quelques infos sur {{company.name}}</h4>
            </div>
            <div class="wildpanelbody panel panel-default">
                <img ng-show="company.logo" class="logo-company" ng-src="{{company.logo}}" alt="{{company.name}} logo">
            </div>
            <div class="wildpanelbody panel panel-default">
                <p><span class="company-name">{{company.name}}</span> est une entreprise de <b>{{company.size}}</b> dans le secteur <b>{{company.businessSector}}</b> situé(e) {{company.address}}, {{company.zipCode}} {{company.city}}, {{company.region}}, {{company.country}}.</p>
            </div>
            <div class="wildpanelbody panel panel-default">

                <img ng-show="company.picture" class="img-company" ng-src="{{company.picture}}" alt="image illustrant {{company.name}}">
            </div>
            <div class="wildpanelbody panel panel-default">
                <h3>Notre Metier</h3>
                <p>{{company.description}}</p>
            </div>
            <div class="wildpanelfooter panel panel-default">
                <a ng-show="company.website" href="{{company.website}}"><i class="fa fa-desktop fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Site web"></i></a>
                <a ng-show="company.facebook" href="{{company.facebook}}"><i class="fa fa-facebook-official fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
                <a ng-show="company.twitter" href="{{company.twitter}}"><i class="fa fa-twitter fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
                <a ng-show="company.instagram" href="{{company.instagram}}"><i class="fa fa-instagram fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Instagram"></i></a>
                <a ng-show="company.linkedin" href="{{company.linkedin}}"><i class="fa fa-linkedin fa-lg contact-link" data-toggle="tooltip" data-placement="top" title="Linkedin"></i></a>
            </div>
        </div>
    </div>

    <!--OFFER DESCRIPTION-->
    <div class="col-md-8">
        <div ng-if="showPublishButton">
            <div>
                <div class="panel panel-default publishOffer" ng-click="publish()">
                    <h4 class="text-center">Valider et publier cette offre</h4>
                </div>
            </div>
            <p class="text-center">OU</p>
            <div>
                <div class="panel panel-default publishOffer" ng-click="sendMail()">
                    <h4 class="text-center">Envoyer un mail à ce recruteur</h4>
                </div>
            </div>
        </div>

        <div class="wildpanel panel panel-default">
            <div class="wildpanelheader panel panel-default">
                <div class="offerEdit">
                    <i ng-if="showRcrt" class="fa fa-pencil fa-lg i-header" data-placement="bottom" data-toggle="tooltip" title="Editer cette offre" ng-click="edit()"></i>
                </div>
                <h4>Description de l'offre</h4>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <ul>
                    <li class="headeradvert2">
                        <h2 class="titleadvert">{{offer.title}}</h2></li>
                    <li ng-if="showStudent" ng-click="likeClick(offer)" class="headeradvert"><i class="fa fa-heart fa-lg" ng-class="{ 'heartnotactive': offer.isLiked===false, 'heartactive': offer.isLiked===true}" uib-tooltip="{{offer.isLiked ? 'Ne plus aimer' : 'aimer cette offre'}}" tooltip-placement="bottom"></i></li>
                    <li ng-if="showStudent" class="headeradvert">
                        <p class="headeradvert smalltexadvert">{{offer.numberLiked}}</p>
                    </li>
                </ul>
                <ul>
                    <li class="headeradvert">
                        <p class="headeradvert smalltexadvert">chez</p>
                    </li>
                    <li class="headeradvert">
                        <p class="headeradvert companytexadvert">{{company.name}}</p>
                    </li>
                    <li class="headeradvert">
                        <p class="headeradvert smalltexadvert" ng-show="titleExpired">Postée {{startOffer}}.</p>
                        <p class="headeradvert smalltexadvert">
                            <span ng-show="titleExpired">Expire</span>
                            <span ng-show="titleArchiv">Archivée </span><span>{{endOffer}}</span>
                    </li>
                </ul>

                <!--SKILLS-->
                <ul class="skill-ul">
                    <li ng-repeat="skill in offer.skills" class="headeradvert skill-li"><span class="wildSkill">{{skill.skill.title}}</span>
                </ul>
                <ul>
                    <li class="headeradvert"><i class="fa fa-file-text-o fa-lg"></i>
                        <p class="headeradvert smalltexadvert1">{{offer.contract}}</p>
                    </li>
                    <li class="headeradvert"><i class="fa fa-eur fa-lg"></i>
                        <p class="headeradvert smalltexadvert1">{{offer.salary}}</p>
                    </li>
                    <li class="headeradvert"><i class="fa fa-briefcase fa-lg"></i>
                        <p class="headeradvert smalltexadvert1">{{offer.experience}}</p>
                    </li>
                </ul>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <h3>Description du poste</h3>
                <p class="white-space-pre-line">{{offer.description}}</p>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <h3>Responsabilités</h3>
                <p class="white-space-pre-line">{{offer.responsability}}</p>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <h3 ng-show="offer.wildSide">Notre coté wild </h3>
                <p ng-show="offer.wildSide" class="white-space-pre-line">{{offer.wildSide}}</p>
            </div>
            <div class="wildpanelbody panel paneldefault">
                <h3>Contact</h3>
                <div class="text-center">
                    <ul>
                        <li class="headeradvert"><i class="fa fa-paper-plane-o fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{offer.referentEmail}}</p>
                        </li>
                        <li ng-show="phoneIf" class="headeradvert"><i class="fa fa-phone fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{offer.referentPhone}}</p>
                        </li>
                        <li class="headeradvert"><i class="fa fa-map-marker fa-lg green-map-marker"></i>
                            <p class="headeradvert smalltexadvert1">{{fullAdress}}</p>
                        </li>
                    </ul>
                </div>

                <!--MAP-->
                <div id="map" style="height:300px;margin-top:15px;"></div>

            </div>
            <div ng-if="showRcrt" class="wildpanelfooter panel panel-default deleteOffer">
                <h4 ng-show="deleteOR" ng-click="delete()">Supprimer cette offre</h4>
                <h4 ng-hide="noPublish" ng-click="archiv()">Ne plus publier cette offre</h4>
            </div>
        </div>
    </div>
</div>