<!--BIG MAP-->
<div class="row wildpanel panel panel-default" ng-hide="showMap">
    <div class="wildpanelheader panel panel-default"></div>
    <div id="map" style="width:100%;height:500px;"></div>
    <div class="wildpanelfooter panel panel-default">
        <a class="text-right" ng-click="showMap=!showMap">Reduire la carte</a>
    </div>
</div>




<div class="row">

    <!--FILTER-->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="row wildpanel panel paneldefault">
            <div class="wildpanelbody panel paneldefault">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                    <h5>Région :</h5>
                    <div class="input-group input-group-sm">
                        <select type="text" class="form-control" ng-model="region">
                            <option value="">Toutes</option>
                            <option>Alsace-Champagne-Ardenne-Lorraine</option>
                            <option>Aquitaine-Limousin-Poitou-Charentes</option>
                            <option>Auvergne-Rhône-Alpes</option>
                            <option>Bourgogne-Franche-Comté</option>
                            <option>Bretagne</option>
                            <option>Centre-Val de Loire</option>
                            <option>Corse</option>
                            <option>Île-de-France</option>
                            <option>Languedoc-Roussillon-Midi-Pyrénées</option>
                            <option>Nord-Pas-De-Calais-Picardie</option>
                            <option>Normandie</option>
                            <option>Pays-De-la-Loire</option>
                            <option>Provence-Alpes-Côte-d'Azur</option>
                        </select>
                    </div>
                    <h5>Compétences :</h5>
                    <div class="input-group input-group-sm">
                        <select class="form-control" type="button" ng-model="querySkill">
                            <option value="">Toutes</option>
                            <option ng-repeat="skill in skills" value="{{skill._id}}">{{skill.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                    <h5>Contrat :</h5>
                    <div class="input-group input-group-sm">
                        <select type="text" class="form-control" ng-model="contract">
                            <option value="">Tous</option>
                            <option>Stage</option>
                            <option>Apprentissage</option>
                            <option>CDD</option>
                            <option>CDI</option>
                        </select>
                    </div>
                    <h5>Expérience :</h5>
                    <div class="input-group input-group-sm">
                        <select type="text" class="form-control" ng-model="experience">
                            <option value="">Toutes</option>
                            <option>Junior</option>
                            <option>Expérimenté</option>
                            <option>Senior</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-default btnW spacer" ng-click="searchOffers()" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!--LITTLE MAP-->
        <div class="row wildpanel panel panel-default" ng-show="showMap">
            <div class="wildpanelheader panel panel-default"></div>
            <div id="map2" style="width:100%;height:300px;"></div>
            <div class="wildpanelfooter panel panel-default">
                <a class="text-right" ng-click="showMap=!showMap">Agrandir la carte</a>
            </div>
        </div>
    </div>

    <!--OFFERS LIST-->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">

        <div class="wildpanel panel panel-default ">
            <div class="wildpanelheader panel panel-default"></div>
            <!--OFFER-->
            <div class="offer-list" ng-repeat="offer in offers | orderBy: '-startDate'">
                <div class="wildpanelbodys panel paneldefault">
                    <div class="offerdelete">
                        <ul>
                            <li class="headeradvert"><i ng-click="likeClick(offer)" class="fa fa-heart fa-lg" ng-class="{'heartnotactive': offer.isLiked===false,'heartactive': offer.isLiked===true}" uib-tooltip="{{offer.isLiked ? 'Ne plus aimer' : 'aimer cette offre'}}" tooltip-placement="top"></i></li>
                            <li class="headeradvert">
                                <p class="headeradvert smalltexadvert">{{offer.numberLiked}}</p>
                            </li>
                        </ul>
                    </div>
                    <ul>
                        <li class="headeradvert2">
                            <h2 class="titleadvert" ng-click="goToOffer(offer)">{{offer.title}}</h2>
                        </li>
                    </ul>
                    <ul>
                        <li class="headeradvert">
                            <p class="headeradvert smalltexadvert">chez</p>
                        </li>
                        <li class="headeradvert">
                            <p class="headeradvert companytexadvert">{{offer.referentId.name}}</p>
                        </li>
                        <li class="headeradvert">
                            <p class="headeradvert smalltexadvert">- Posté {{startOffer(offer.startDate)}}</p>
                        </li>
                        <li class="headeradvert">
                            <p class="headeradvert smalltexadvert">- Expire {{endOffer(offer.endDate)}}</p>
                        </li>

                    </ul>
                    <ul class="skill-ul">
                        <li class="headeradvert skill-li" ng-repeat="skill in offer.skills"><span class="wildSkill">{{skill.skill.title}}</span>
                    </ul>
                    <ul>
                        <li class="headeradvert"><i class="fa fa-file-text-o fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{offer.contract}}</p>
                        </li>
                        <li class="headeradvert"><i class="fa fa-eur fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{offer.salary}}</p>
                        </li>
                        <li class="headeradvert"><i class="fa fa-briefcase fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{offer.experience}}</p>
                        </li>
                        <li class="headeradvert"><i class="fa fa-map-marker fa-lg"></i>
                            <p class="headeradvert smalltexadvert1">{{offer.city}} ({{offer.country}})</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="wildpanelfooter panel panel-default"></div>
        </div>
    </div>
</div>