/* $ GENERAL */

body {
    padding-top: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F5FAF9;
    color: #202020;
}

.container {
    position: relative;
}

.bg {
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    padding-top: 20px;
}

p {
    color: #202020;
    font-size: 16px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #009587;
    font-size: 65px;
}

h5 {
    color: #009587;
    font-size: 13px;
}

a {
    color: #009587;
}

a:hover {
    color: #008080;
    cursor: pointer;
}

a:visited {
    color: #009587;
}

ul {
    margin: 0 auto;
    padding: 0;
}

.titlepost {
    color: #696969;
}

.case1 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-color: #b6b6b6;
    margin-top: 130px;
    position: absolute;
    z-index: 2;
}

.fa-times {
    color: #b6b6b6;
}

.fa-times:hover {
    color: #202020;
    cursor: pointer;
}

.caseAccueil {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, .6);
    border-color: #b6b6b6;
    margin-top: 130px;
    padding: 10px;
}

.wild {
    font-family: 'Raleway', sans-serif;
    color: #009587;
    font-size: 25px;
}

.finder {
    font-family: 'Raleway', sans-serif;
    color: #696969;
    font-size: 25px;
    line-height: 50px;
}

.btnClassic {
    height: 40px;
    padding: 0px 20px 0px 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #009587;
    color: white;
    background-size: 100% 200%;
    background-color: #009587;
    background-image: linear-gradient(to top, #008080 50%, #009587 50%);
    font-size: 16px;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.btnClassic:hover {
    border-color: #008080;
    background-color: #008080;
    background-position: 0 100%;
}

.btnClassic:focus {
    outline: none;
}

.btnW {
    height: 40px;
    padding: 0px 20px 0px 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #009587;
    color: #009587;
    background-size: 100% 200%;
    background-color: transparent;
    background-image: linear-gradient(to top, #009587 50%, transparent 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.btnW:hover {
    background-position: 0 100%;
    background-color: transparent;
    color: white;
}

.btnW:focus {
    outline: none;
}

.btnW-sm {
    height: 30px;
    padding: 0px 20px 0px 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #009587;
    color: #009587;
    background-size: 100% 200%;
    background-color: transparent;
    background-image: linear-gradient(to top, #009587 50%, transparent 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.btnW-sm:hover {
    background-position: 0 100%;
    background-color: transparent;
    color: white;
}

.btnW-sm:focus {
    outline: none;
}

.btnWA {
    height: 40px;
    padding: 0px 20px 0px 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: white;
    color: white;
    background-size: 100% 200%;
    background-color: transparent;
    background-image: linear-gradient(to top, #009587 50%, transparent 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    margin-right: 15px;
}

.btnWA:hover {
    background-position: 0 100%;
    background-color: transparent;
    color: white;
    border-color: #009587;
}

.btnWA:focus {
    outline: none;
}

.btn-side {
    background-color: #009587;
    color: white;
}

.btn-side:hover {
    background-color: white;
    color: #009587;
}

li {
    display: inline-block;
}

.li-block {
    display: block;
}

ul {
    padding: 0px;
}

.wildWarning {
    height: 70px;
    line-height: 70px;
    border-radius: 3px;
    color: red;
    font-weight: 600;
    padding: 12px 0px 12px 0px;
}

.clickable {
    cursor: pointer;
}

.align {
    line-height: 40px;
    color: red;
}


/* ----------------- *\
	  BS CALLOUT 
\* ----------------- */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}


/* $SUCCESS */

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}


/* INFO */

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}


/* WARNING */

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}


/* DANGER */

.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}


/*   $OFFER   */

.spacer {
    margin-top: 30px;
}

.fa-question-circle {
    color: #B6B6B6;
}


/*      $SKILL      */

.wildSkill {
    height: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    padding: 2px 10px 2px 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #daa520;
    color: #daa520;
    margin: 0 10px 0 0;
}

.skill-ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.skill-li {
    margin-bottom: 10px;
}

.cross {
    margin-left: 8px;
}


/*WILD PANEL*/

.wildpanel {
    margin: 15px 0px 15px 0px;
    padding: 0 auto;
    border-color: #b6b6b6
}

.wildpanelheader {
    margin: 0 auto;
    background-color: #009587;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-color: #B6B6B6;
    height: 41px;
}

.wildpanelnavbar {
    margin: 0 auto;
    padding: 0;
    border-radius: 0;
    border-bottom: 2px solid;
    border-bottom-color: #009587;
    background-color: #F5FAF9;
}

.wildpanelmenu {
    margin: 0 auto;
    text-align: center;
    border: 0;
    background-color: #F5FAF9;
}

.wildpanelmenu:hover {
    border-bottom: 6px solid;
    border-color: #009587;
}

.wildpanelmenuactive {
    border-bottom: 6px solid;
    border-color: #009587;
    background-color: white;
}

.wildpanelbody {
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    border-radius: 0px;
    border: 0;
}

.wildpanelbodybook-bg {
    margin: 0 auto;
    padding: 0;
    border-radius: 0px;
}

.wildpanelbodys {
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    border-top-color: #B6B6B6;
    border-radius: 0px;
}

.wildpanelheart {
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    border-top-color: #B6B6B6;
    border-radius: 0px;
    min-height: 90px;
}

.wildpanelfooter {
    margin: 0 auto;
    background-color: #F5FAF9;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 5px 10px 5px 10px;
    border-top-color: #B6B6B6;
    text-align: center;
}

.wildpanelfooterinput {
    margin: 0 auto;
    background-color: #F5FAF9;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 5px 10px 5px 10px;
    border-top-color: #B6B6B6;
}

.paragraphWPF {
    font-size: 13px;
    margin: 0 auto;
    padding: 0 auto;
    color: #696969;
}

.studentname {
    color: #202020;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.studentname:hover {
    cursor: pointer;
    color: #009587;
}

.studentteaser {
    margin-top: 2px;
    font-size: 18px;
    color: #696969;
}

.imgprofilstudent {
    float: left;
    height: 130px;
    width: 130px;
    border: 5px solid white;
    border-radius: 15px;
    margin-top: -30px;
    margin-right: 3px;
    margin-bottom: 5px;
}

#studentCVmin {
    min-height: 105px;
}

.headeradvert {
    display: inline-block;
}

.smalltexadvert {
    font-size: 16px;
    color: #696969;
    margin: 0 1px 0 1px;
}

.smalltexadvert1 {
    font-size: 16px;
    color: #696969;
    margin: 0 10px 0 1px;
}

.smalltexadvert-sm {
    font-size: 12px;
    color: #696969;
    margin: 0 1px 0 1px;
}

.smalltexadvert1-sm {
    font-size: 12px;
    color: #696969;
    margin: 0 10px 0 1px;
}

.titleadvert {
    font-size: 25px;
    color: #202020;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.titlemodal {
    font-size: 25px;
    color: #009587;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.titleadvert:hover {
    cursor: pointer;
    color: #009587;
}

.titleadvert-sm {
    font-size: 18px;
    color: #202020;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
}

.titleadvert-sm:hover {
    cursor: pointer;
    color: #009587;
}

.heartnotactive {
    color: #B6B6B6;
    margin: 0 2px 0 10px;
}

.heartnotactive:hover {
    color: #202020;
    cursor: pointer;
}

.heartactive {
    color: #DAA520;
    margin: 0 2px 0 10px;
}

.heartactive:hover {
    color: #202020;
    cursor: pointer;
}

.fa-share-alt {
    color: #B6B6B6;
    margin: 0 2px 0 2px;
}

.fa-share-alt:hover {
    color: #202020;
    cursor: pointer;
}

.fa-pencil {
    color: #B6B6B6;
    margin: 0 2px 0 2px;
}

.fa-pencil:hover {
    color: #202020;
    cursor: pointer;
}

.fa-repeat {
    color: #B6B6B6;
    margin: 0 2px 0 2px;
}

.fa-repeat:hover {
    color: #202020;
    cursor: pointer;
}

.companytexadvert {
    color: #009587;
    font-size: 16px;
    margin: 0 1px 0 1px;
}

.companytexadvert-sm {
    color: #009587;
    font-size: 12px;
    margin: 0 1px 0 1px;
}

.fa-file-text-o {
    color: #B6B6B6;
}

.fa-eur {
    color: #B6B6B6;
}

.fa-map-marker {
    color: #B6B6B6;
}

.offerdelete {
    float: right;
    z-index: 9999;
}

.plus {
    float: right;
    z-index: 9999;
    padding: 10px;
}

.imgbook {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.bookstatnumber {
    font-size: 25px;
    color: #009587;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.bookstatnumber:hover {
    color: #008080;
}

.bookstattitle {
    font-size: 12px;
    color: #009587;
    margin: 0;
}

.bookstattitle:hover {
    color: #008080;
}

.wildpanelbodyteaserrctr {
    margin: 10px 0 0 15px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.wildpanelbodybuttonrctr {
    margin: 0 auto;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

a.title-link {
    color: white;
    text-decoration: none;
}

a.title-link:visited {
    color: white;
    text-decoration: none;
}

a.title-link:focus {
    outline: none;
}

a.title-link:hover {
    color: #DAA520;
    text-decoration: none;
    cursor: pointer;
}

.profilimg-sm {
    height: 101px;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: 10px;
    float: left;
}

.no-marge {
    margin: 0 auto;
    padding: 0;
}

.img-company {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.company-name {
    text-transform: capitalize;
    color: #009587;
    font-size: 20px;
}

.contact-link {
    color: #009587;
    margin-left: 5px;
    margin-right: 5px;
}

.contact-link:hover {
    color: #202020;
    cursor: pointer;
}

.fa-briefcase {
    color: #B6B6B6;
}

.fa-paper-plane-o {
    color: #009587;
}

.fa-phone {
    color: #009587;
}

.green-map-marker {
    color: #009587;
}

i {
    margin-right: 3px;
}


/*   CONNECTRECRUITER   */

.fa-linkedin {
    color: #009587;
}

.fa-facebook-official {
    color: #009587;
}

.fa-form {
    color: #009587;
}

.fa-check {
    color: #009587;
}

.fa-check:hover {
    color: #008080;
    cursor: pointer;
}

.fa-instagram {
    color: #009587;
}

.offer-list {
    max-height: 600px;
    overflow: auto;
}

p.white-space-pre-line {
    white-space: pre-line;
}

.li-block {
    display: block;
    margin: 5px;
}

.student-teaser {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 24px;
    color: #696969;
}

.student-title {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.no-padding {
    padding: 0;
}

.i-header {
    color: white;
}

.i-header:hover {
    color: white;
}

.times-skill:hover {
    color: #daa520;
}

.float-right {
    float: right;
    margin: 10px;
}

.form-recruiter {
    margin-bottom: 25px;
}

.required {
    font-weight: 600;
    color: #b12f2f;
}

.stepbystep {
    margin-top: 30px;
    margin-bottom: 5px;
}

.titleforme {
    color: #202020;
}

a.a-white {
    font-size: 14px;
    font-weight: 600;
    color: #202020;
}

.headerAcc {
    margin-bottom: 30px;
}

.marge-top {
    margin-top: 40px;
}

.li-nav {
    display: block;
}

li.active {
    color: white;
    background-color: crimson;
}

.navbarr-avatar {
    height: 26px;
    margin: -20px 5px -17px -5px;
    border-image: 3px;
    border-color: white;
    border-radius: 3px;
}

.btn:focus {
    outline: none;
}

.navbar-form {
    padding-left: 60px;
    padding-top: 2px;
}

.logo-company {
    margin: 0 auto;
    position: relative;
    width: 50%;
}

.offerEdit {
    float: right;
    z-index: 9999;
    padding: 10px 5px 0 0;
    color: white;
}

.fa:hover {
    color: black;
}