/* $ GENERAL */
body{
    padding-top: 70px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color:#009587;
}

.wild {
    font-family: 'Raleway', sans-serif;
    color:#009587;
    font-size: 25px;
}      

.finder {
    font-family: 'Raleway', sans-serif;
    color:#696969;
    font-size: 25px;
    line-height: 50px;
}

.btnW {
    height: 40px;
    padding: 0px 20px 0px 20px;
    border: 2px solid;
    border-radius:10px;
    border-color: #009587;
    color:#009587;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #009587 50%, white 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.btnW:hover {
    background-position: 0 100% ;
    color:white; 
}

.btn-side {
    background-color:#009587;
    color: white;
}
.btn-side:hover {
    background-color: white;
    color: #009587;
}
/* ----------------- *\
	  BS CALLOUT 
\* ----------------- */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

/* $SUCCESS */
.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

/* INFO */
.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

/* WARNING */
.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

/* DANGER */
.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}

/*   $OFFER   */
.spacer {
    margin-top: 30px;
}
.fa-question-circle {
    color: #009587;
}